<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
 <small>Configure View</small>
</div>

<div class="modal-body">
	<div class="row">
				<div class="col-md-12">
				<form name="configureForm" novalidate>
				  <div class="form-group">
				    <label for="title">Title
				    <span style="padding-left:5px" class="label" ng-class="{true: 'label-success', false: 'label-warning'}[!accountstatus.statusError]" ng-show="accountstatus.status"> {{accountstatus.message}}</span>
				    </label>
				    <input type="text" class="form-control"  id="title" ng-model="result.title">
				  </div>
				  
				  <div class="form-group" >
				    <label for="account" ><span class="capitalize">{{result.type}}</span> Account <font color="red">*</font>
				    	
			    	 </label>
			    	<div class="input-group" >
     				 
						     <select ng-disabled="result.config.status" name="account" class="form-control" ng-model="result.config.accounts.selected"  ng-options="key as key for (key,val) in accountslist" required></select>
						
							<span class="input-group-btn">
		     				 	<button ng-disabled="result.config.status" class="btn btn-default" type="button" ng-click="openAuthWindow('/auth/' + result.type)">Add</button>
		     				 </span>
		     			</div>
				  </div>
				  <div ng-include src="'views/widgets/configure/'+ result.type +'.html'" include-configuretemplate></div>
				  
				  
				 
				  <div class="form-group">
				    <label for="metric">Metrics</label>
				     
								  <select class="form-control" ng-model="result.config.metrics.selected"  ng-options="m for m in result.config.metrics.list"></select>
					 
				  </div>
				  <div class="form-group">
				    <label for="chart">Chart</label>
				     
								  <select class="form-control" ng-model="result.config.chartType.selected" ng-options="c for c in result.config.chartType.list"></select>
								  
					 
				  </div>
				   <div class="form-group">
				    <label for="storage">Storage</label>
				    	<div class="input-group" >
					         <select class="form-control" ng-model="result.config.storage.selected" ng-options="label(c) for c in storagelist"></select> 
							<span class="input-group-btn">
			     				 	<span class="dropdown btn-group">Add
			     				 		  
										  <button  ng-disabled="result.config.storeoptions.length == 0" type="button" class="btn btn-default dropdown-toggle" >
										    <span class="fa fa-plus"></span>
										    <span class="sr-only"></span>
										  </button>
			     				 		
			     				 		<ul class="dropdown-menu pull-right">
										    <li ng-repeat="choice in result.config.storeoptions">
										      <a ng-click="openAuthWindow('/auth/' +choice)">{{choice}}</a>
										    </li>
									  	</ul>
			     				 		
			     				 	</span>
			     				 	
			     			 </span>
			     			  
			     		</div>
					 
				  </div>
				  <!--
				  <div class="form-group">
				    <label for="interval">Refresh Interval (hours)</label>
				       <input  ng-disabled="true" type="text" class="form-control" id="interval" name="interval" ng-model="result.config.interval">
								  
					 
				  </div>
				  -->
				 
			</form>
			</div>
	</div>
	
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default btn-sm" ng-click="cancel()">Cancel</button>
    <button ng-disabled="configureForm.$invalid" type="button" class="btn btn-primary btn-sm" ng-click="ok()">Save</button>
</div>
