
<div class="form-group" ng-controller="FacebookController">
				    <label for="pages" class="capitalize">{{result.type}} Pages <font color="red">*</font><img ng-src="../img/loaders/config-loader.gif?v=3" ng-show="showLoader" style="padding-left:10px" /></label>
				    			  <select class="form-control" ng-model="result.config.objects.selected"  ng-options="key for (key,val) in result.config.objects.list" required></select>
</div>