	  <div class="form-group" >
	    <label for="user" class="capitalize">{{result.type}} UserName <font color="red">*</font></label>
		    <div class="input-group" >
			    <span class="input-group-addon">@</span>
		    <input ng-disabled="result.config.status" type="text" class="form-control" id="user" name="user" ng-model="result.config.custom.username" required>
	    </div>
	  </div>
