
<div class="form-group" ng-controller="YoutubeController">
	<div class="form-group" >
					    <label for="pages" class="capitalize">{{result.type}} Channels <font color="red">*</font><img ng-src="../img/loaders/config-loader.gif?v=3" ng-show="showLoader" style="padding-left:10px" /></label>
			 			  <select class="form-control" ng-model="result.config.objects.selected"  ng-options="key for (key,val) in result.config.objects.list" required></select>
	</div>
	<div class="form-group">
							<label for="pages" class="capitalize">{{result.type}} Videos <font color="red">*</font><img ng-src="../img/loaders/config-loader.gif?v=3" ng-show="showLoader" style="padding-left:10px" /></label>
							<select class="form-control" ng-model="result.config.custom.videos.selected"  ng-options="key as val for (key,val) in result.config.custom.videos.list" required></select>
	</div>
</div>
