<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
 <small>Configure View</small>
</div>

<div class="modal-body">
	<div class="row">
				<div class="col-md-12">
				<form name="facebookForm" novalidate>
				  <div class="form-group">
				    <label for="title">Title
				    	<span class="label" ng-class="{true: 'label-success', false: 'label-warning'}[accountstatus.statusError]" ng-show="accountstatus.status"> {{accountstatus.message}}</span>
				    	</label>
				    <input type="text" class="form-control"  id="title" ng-model="result.title">
				  </div>
				  <div class="form-group" >
				    <label for="account">Youtube Account <font color="red">*</font>

				    	 </label>
				    	<div class="input-group" >

						     <select ng-disabled="result.config.status" name="account" class="form-control" ng-model="result.config.accounts.selected"  ng-options="key as key for (key,val) in accountslist" required></select>

							<span class="input-group-btn">
		     				 	<button ng-disabled="result.config.status" class="btn btn-default" type="button" ng-click="openAuthWindow('/auth/youtube')">Add</button>
		     				 </span>
		     			</div>
				  </div>
				<div class="form-group" ng-controller="YoutubeController">
                <label for="pages" class="capitalize">Youtube Channels <font color="red">*</font><img ng-src="../img/loaders/config-loader.gif?v=3" ng-show="showLoader" style="padding-left:10px" /></label>
                        <select class="form-control" ng-model="result.config.objects.selected"  ng-options="key for (key,val) in result.config.objects.list" required></select>
        </div>
				  <div class="form-group">
				    <label for="storage">Storage</label>
				         <select class="form-control" ng-model="result.config.storage.selected" ng-options="c for c in result.config.storage.list"></select>


				  </div>
				  <!--
				  <div class="form-group">
				    <label for="interval">Refresh Interval (hours)</label>
				       <input  ng-disabled="true" type="text" class="form-control" id="interval" name="interval" ng-model="result.config.interval">


				  </div>
				  -->

			</form>
			</div>
	</div>

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default btn-sm" ng-click="cancel()">Cancel</button>
    <button ng-disabled="facebookForm.$invalid" type="button" class="btn btn-primary btn-sm" ng-click="ok()">Save</button>
</div>
