script(type='text/javascript', src='/lib/d3.min.js')
script(type='text/javascript', src='/lib/d3-cloud-master/d3.layout.cloud.js')
script(type='text/javascript', src='/lib/crossfilter.js')
script(type='text/javascript', src='/lib/dc.js')
script(type='text/javascript', src='/lib/underscore-min.js')
script(type='text/javascript', src='/lib/jquery/jquery.js')
script(type='text/javascript', src='/lib/jquery/jquery-ui-min.js')
//fixed tooltip position based on container
script(type='text/javascript', src='/lib/nv.d3.js')

script(type='text/javascript', src='/lib/jquery.slimscroll.min.js')
script(type='text/javascript', src='/lib/jquery.sparkline.min.js')

script(type='text/javascript', src='/lib/bootstrap/dist/js/bootstrap.min.js')
script(type='text/javascript', src='/lib/introjs/intro.min.js')
script(type='text/javascript', src='/lib/pace.min.js')

script(type='text/javascript', src='/lib/angular-1.2.16/angular.min.js')
script(type='text/javascript', src='/lib/angular-1.2.16/angular-cookies.min.js')
script(type='text/javascript', src='/lib/angular-1.2.16/angular-resource.min.js')
//script(type='text/javascript', src='/lib/angular-1.2.16/angular-route.min.js')
script(type='text/javascript', src='/lib/angular-1.2.16/angular-sanitize.min.js')
script(type='text/javascript', src='/lib/angular-1.2.16/angular-animate.min.js')
script(type='text/javascript', src='/lib/angular-ui-router/angular-ui-router.min.js')
script(type='text/javascript', src='/lib/ui-bootstrap-tpls-0.11.0.min.js')

script(type='text/javascript', src='/lib/introjs/angular-intro.min.js')
script(type='text/javascript', src='/lib/angular.easypiechart.min.js')
script(type='text/javascript', src='/lib/angular-smooth-scroll-1.6.0.min.js')

//fixed position=relative for isMobile
script(type='text/javascript', src='/lib/gridster.min.js')

script(type='text/javascript', src='/lib/gauge.min.js')



script(type='text/javascript', src='dist/js/sentiks.min.js')

//Application Init
//script(type='text/javascript', src='/js/app.js')
//script(type='text/javascript', src='/js/config.js')
//script(type='text/javascript', src='/js/directives.js')
//script(type='text/javascript', src='/js/filters.js')

//Application Services
//script(type='text/javascript', src='/js/services/global.js')

//Application Controllers
//script(type='text/javascript', src='/js/controllers/index.js')
//script(type='text/javascript', src='/js/controllers/header.js')
//script(type='text/javascript', src='/js/init.js')
