head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width,initial-scale=1')

  title sentiks | Social Media Monitoring, Sentiment Analysis And Reputation Management
  meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
  meta(name="keywords", content="sentiks, Social Analysis, Social Media Analytics, Social Search, Social Media Monitoring, Sentiment Analysis, Reputation Management")
  meta(name="description", content="sentiks - A social media monitoring and sentiment analysis tool to manage your reputation in real-time. sentiks looks up popular social media sites, news, forums, blogs to derive the trends and sentiments. ")
  meta(name="google-site-verification", content="tS-NyNlaJ4yUzsZy0US1-RhnAiJRdjBhBjQiKw0VKuI")
  link(href='/img/icons/favicon.ico?v=2', rel='shortcut icon', type='image/x-icon')
  meta(name="robots", content="index, follow")
   
  meta(property='og:title', content='sentiks | Social Media Monitoring, Sentiment Analysis And Reputation Management')
  meta(property='og:description', content='sentiks - A social media monitoring and sentiment analysis tool to manage your reputation in real-time. sentiks looks up popular social media sites, news, forums, blogs to derive the trends and sentiments.')
  meta(property='og:type', content='website')
  meta(property='og:url', content='http://www.sentiks.com')
  meta(property='og:site_name', content='sentiks')
  meta(property='fb:admins', content='sentiks')
  
  link(rel='stylesheet', href='/lib/introjs/introjs.min.css')
  link(rel='stylesheet', href='/lib/jquery/jquery-ui.css')
  link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap-theme-cdark.min.css')
  
  
  link(rel='stylesheet', href='/dist/css/sentiks.min.css')
  
  link(rel='stylesheet', href='/lib/font-awesome-4.0.3/css/font-awesome.min.css')
  base(href='/')
  
  
        
   
    