<section ng-controller="AnalyseController">
 
	<div class="container">
			<div class="row" >
				
				<div class="jumbotron" ng-show="showSearchBar">
				    	<div class="col-md-12" >
					    	
					        	<form  name="searchForm" ng-submit="submit()" novalidate>
					        		
						        	<small><em>Analyse Text</em></small>
						        	<textarea class="form-control" rows="3" ng-model="keyword"></textarea>

						            
						                         
						            
						         <div class="pull-right">   
						        	<button ng-disabled="!searchForm.$valid" type="submit" class="btn btn-primary" ng-click="analyse()">Analyse</button>    
						          </div>
						        
						        
						
						        </form>
					        
				        </div>
				        <!--
				        <div class="col-md-6" >
					    	
					        	<form  name="keywordForm" ng-submit="submit()" novalidate>
					        		
						        	<small><em>Add Positive or Negative Words to Model</em></small>
						        	<textarea class="form-control" rows="3" ng-model="words"></textarea>

						            
						                         
						            
						         <div class="pull-right">   
						        	<button ng-disabled="!keywordForm.$valid" type="submit" class="btn btn-danger" ng-click='addToModel("negative")'>
						        		    		<span class="glyphicon glyphicon-minus"></span></button>    
						        	<button ng-disabled="!keywordForm.$valid" type="submit" class="btn btn-primary" ng-click='addToModel("positive")'>
						        		    		<span class="glyphicon glyphicon-plus"></span></button>
						          </div>
						        
						        
						        
						        </form>
					        
				        </div> -->
						<img ng-src="../img/loaders/loader.gif" class="loading" id="loading-indicator" ng-show="showLoader" >
				        
				 </div>
						
     	  
				       
				</div>				
	</div>	
		

<div  class="container content" ng-show="showResults">

	   
	      <div class="row">
			
     		
      		<div class="col-md-12">
      			<table class="table table-bordered">
					<thead>
						<tr>
							<th>Text Analysed</th>
							<th>Text Based Sentiment</th>
							<th>Keyword Based Sentiment</th>
							<th>Update Sentiment</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{keyword}}</td>
							<td>{{items.sentimentNode}}</td>
							<td>{{items.sentimentNatural}}</td>
							<td>
								<button type="submit" class="btn btn-danger" ng-click='updateSentiment("negative")'><span class="glyphicon glyphicon-minus"></span></button>
								<button type="submit" class="btn btn-primary" ng-click='updateSentiment("positive")'><span class="glyphicon glyphicon-plus"></span></button>
								<button type="submit" class="btn btn-primary" ng-click='updateSentiment("neutral")'><span class="glyphicon glyphicon-asterisk"></span></button>
							</td>
						</tr>
					</tbody>  
					
				</table>
				<div class="alert alert-warning fade in"><button class="close" aria-hidden="true" data-dismiss="alert" type="button"> </button>
       		 		{{alertMessage}}
      				<button type="submit" class="btn btn-danger" ng-click='trainSentiment()' ng-show="showTrain"><span class="glyphicon glyphicon-play" ></span>Train</button>
			    </div>														
												
				</div>
      		</div>
 </div>
 
	

	
</section>

