
<!--<div id="diceitcontainer" class="container content" style="padding-top:5%;margin-left:6%" ng-show="showDiceSummary"  >--></div>
	<div id="diceitcontainer"   >
		
		<div class="row">
			<div class="col-md-12">
		<div   class="panel panel-default ui-widget-content ">
  						<div   class="panelheader panel-heading " >
  							<span  class="action fa fa-angle-down fa-1x" ng-click="showDice = !showDice"></span>
										Filter
							<span class="action pull-right fa fa-times fa-1x"></span>
							<span class="action pull-right fa fa-cog fa-1x"></span>
											    
					    </div>
						<div show-slide="showDice" class="  panel-body">
	   
	      <div class="row">
			
     		
      		<div class="col-md-12">
      			
      			<ul class="nav nav-pills hidden-phone" id="chartsfilter">
	      			
	      			<!--<li class="pull-right">
						  <button type="button" class="btn btn-danger btn-xs" ng-click="showResultsFn()" ><span class="glyphicon glyphicon-list"></span> Show Results</button>
					</li>-->	
					
					<!--
      				<li >
      				<button type="button" class="btn btn-info btn-xs" ng-click="showTimeline = !showTimeline" ng-class="{true: 'btn-info', false: 'btn-default'}[showTimeline]">
      					<span class="glyphicon glyphicon-calendar"></span> Timeline</button>
      				</li>
      				<li >
      				<button type="button" class="btn btn-info btn-xs" ng-click="showSource = !showSource" data-toggle="button" ng-class="{true: 'btn-info', false: 'btn-default'}[showSource]">
      					<span class="glyphicon glyphicon-globe"></span> Source</button>
      				</li><li >
      				<button type="button" class="btn btn-info btn-xs" ng-click="showSentiment = !showSentiment" data-toggle="button" ng-class="{true: 'btn-info', false: 'btn-default'}[showSentiment]">
      					<span class="glyphicon glyphicon-exclamation-sign"></span> Sentiment</button>
      				</li><li >
      				<button type="button" class="btn btn-info btn-xs" ng-click="showData = !showData" data-toggle="button" ng-class="{true: 'btn-info', false: 'btn-default'}[showData]">
      					<span class="glyphicon glyphicon-th-list"></span> Posts</button>
	      			</li>
	      			-->
	      			<li class="pull-right">
		      			<button type="button" class="btn btn-success btn-xs">
		      			<div id="datacount" >
	       				 <span class="filter-count"></span> selected out of <span class="total-count"></span> records |
	       				 <span ng-click="resetDC()"> Reset All<span>
	   					 </div>
	   					 
	   					 </button>
   					</li>
									
										
					
				</ul>
      				
				      		 			
			</div><!--col-md-->
						
		</div><!--row-->
		<div chartsload>
			<div class="row " style='margin-top:10px;font-size:0.9em;color:black' >
				<modal-window trigger="showModal"  obj="{{obj}}" getresult="getResult(obj)" positiveclick="okClicked()" negativeclick="closed()" positivelabel="Ok" negativelabel="Cancel"> </modal-window>

				
			<!--	<div class="col-md-6">
					
					
						<div id='dc-posts-chart-small' class=' well chart ui-widget-content' > <p><span class="label label-primary"> Number of Posts/Day</span></p></div>
											
			</div>-->
				
				<div class="col-md-5 col-sm-4">
					<div id="stickyChart">
					<div id='dc-posts-chart-small' class='ui-widget-content chart  animation'   ></div>					
					<div id='dc-posts-chart' class=' ui-widget-content chart animation'   ng-show="showTimeline" ><p><span class="label label-primary"> Number of Posts/Day</span></p></div>
					<div id='dc-source-chart' class=' ui-widget-content chart animation'  ng-show="showSource"><p><span class="label label-primary"> Distribution across Source</span></p></div>
					<div id='dc-sentiment-chart' class='  ui-widget-content chart animation'  ng-show="showSentiment" ><p><span class="label label-primary"> Distribution of Sentiment</span></p></div>
					
					<!--<div id='dc-followers-chart' class='chart ui-widget-content animation'><p><span class="label label-primary"> Distribution of Influencers</span></p></div>-->
					</div>
				</div>
				<div class="col-md-7 col-sm-4  ui-widget-content chart animation " id='dc-data-table-wrapper' ng-show="showData" >
					
				<!--<a href="#" id="exportToCSV" ><span class="glyphicon glyphicon-save" ></span> </a>-->
				<a href="{{url}}" download="{{fileName}}" data-toggle="tooltip" data-placement="top" title="Save to Disk"  class="clickcursor"><span class="glyphicon glyphicon-save" ></span> </a>
					<div id="dc-data-table-wrapper-2">
					<table class='table table-hover table-condensed' id='dc-data-table'>
						<thead>
						<tr class='header'>
						<th></th>
						<th>Date</th>
						<th>Source</th>
						<th>Post</th>
						<th>Influence</th>
						<th>Sentiment</th>
						
						
						
						</tr>
						</thead>
					</table>
					</div>
					
				</div> 
				<!--
				<div class="col-md-1" id="rightCol">
              
	              	<ul class="nav nav-stacked" id="sidebar">
	                  <li><a href="#dc-posts-chart-small">Section 0</a></li>
	                  <li><a href="#dc-posts-chart">Section 1</a></li>
	                  <li><a href="#dc-source-chart">Section 2</a></li>
	                  <li><a href="#dc-sentiment-chart">Section 3</a></li>
	                  
	              	</ul>
              
      			</div>
      			-->  
			
				
		  </div>
					
			
			
		</div>
		</div>
		</div>
		
	 </div>
	</div>	
  	
 
		
</div><!--container-->
	
