
<div  id="dashtopwrap" class="content" ng-show="showCharts" >

	     
			     		
      	
				<div id="dashboardwrap " class="container sidebar-mini" >
	
					<div id="topnavigator" class="posfixed theme1">
						<a href="#" class="title">
							<span>sentiks </span>
							<span class="text-toggle"> </span>
						</a>
						<div class="searchbardash hidden-phone">
							<form  name="searchInlineForm" ng-submit="submit()" novalidate >
					        		
						        <div id="inlineform" class="input-group input-group-sm">
						        	
						            <input  type="text" class="form-control" name="query" placeholder="Enter keyword" ng-model="keyword" required>
						             
							            <div class="input-group-btn">
						            <button ng-disabled="!searchInlineForm.$valid" type="submit" class="btn btn-danger btn-xs" ng-submit="submit()"><span class="glyphicon glyphicon-search"></span></button>
						            
						            
						            </div>
						        </div>
						        
						        </form>
						</div>
						
						<!--
						<ul class="notification clearfix">
							<li class="user">
								<strong> Guest</strong>
							</li>
						</ul>
						-->
					</div>
	
	<!--
				<aside class="posfixed theme1">
					<div class="scroll" style="position: relative; overflow: hidden; width: auto; height: 100%;">
						<div class="sidebar-inner scrollable-sidebar" style="overflow: hidden; width: auto; height: 100%;">
							
							<div class="main-menu">
								<ul>
									<li class="active clickcursor" scroll-to="searchsummarycontainer" offset="50" ng-click="showSearchSummary = !showSearchSummary" ng-class="{true: 'active', false: 'openable'}[showSearchSummary]">
										<a>
											<!--<span class="arrow hidden-phone">&nbsp;</span>-->
											<!--
											<span class="menu-icon">
												<span class="fa fa-signal fa-2x"></span>
												<span class="text1 hidden-phone"> Search Summary</span>
												
											</span>
											<span class="menu-hover"></span>
										</a>
									</li>-->
									<!--
									<li class="openable clickcursor" ng-click="showProfileSummary = !showProfileSummary;goToDiv('profilesummarycontainer')" ng-class="{true: 'active', false: 'openable'}[showProfileSummary]">
										<a>
											<span class="menu-icon">
												<span class="fa fa-bar-chart-o fa-2x"></span>
												<span class="text1 hidden-phone"> Profile Summary</span>
												
											</span>
											<span class="menu-hover"></span>
										</a>
									</li>--> <!--
									<li class="openable clickcursor" scroll-to="diceitcontainer" offset="50" ng-click="showDiceSummary = !showDiceSummary" ng-class="{true: 'active', false: 'openable'}[showDiceSummary]">
										<a >
											<span class="menu-icon">
												<span class="fa fa-filter fa-2x"></span>
												<span class="text1 hidden-phone"> Dice It</span>
												
											</span>
											<span class="menu-hover"></span>
										</a>
									</li>-->
									<!--
									<li class="openable clickcursor" scroll-to="insightsummarycontainer" offset="50" ng-click="showInsightSummary = !showInsightSummary" ng-class="{true: 'active', false: 'openable'}[showInsightSummary]">
										<a>
											<span class="menu-icon">
												<span class="fa fa-bullhorn fa-2x"></span>
												<span class="text1 hidden-phone"> Insights</span>
												
											</span>
											<span class="menu-hover"></span>
										</a>
									</li>
									-->
									<!--
									<li class="openable clickcursor" scroll-to="metricssummarycontainer" offset="50" ng-click="showMetricsSummary = !showMetricsSummary" ng-class="{true: 'active', false: 'openable'}[showMetricsSummary]">
										<a>
											<span class="menu-icon">
												<span class="fa fa-magic fa-2x"></span>
												<span class="text1 hidden-phone"> Metrics</span>
												
											</span>
											<span class="menu-hover"></span>
										</a>
									</li>
								
									
									
								</ul>
							</div>
							
						</div>
					</div>
				</aside>
				
			-->	
			<div id="dashboardcontainer">
				<div class="row">
					<div  class="col-md-12">
							<div charts-container></div>
						
					</div>
					
					<div  class="col-md-12">
						<div search-summary></div>
					</div>
					
					<div class="col-md-12">
						<div insight-summary></div>
					</div>
					
				</div>
			</div>
						
						
						<!--<div profile-summary></div>-->
							
						
					
					
				</div>
				
				
			 
</div>
