<nav class="navbar-wrapper navbar-default navbar-fixed-top" >
	<div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
         <!--   <a class="navbar-brand" href="#" style="font-weight:200;font-family:FontAwesome;color: #d9534f;">SENTIKS <small><em> beta</em></small></a>
            
            
          </div>
         
		  <div class="collapse navbar-collapse">
			  	
			     <ul class="nav navbar-nav  navbar-right">
		       		
						<li ><a href="#!"><span class="fa fa-home fa-lg hue"/></a></li>
						<li ><a href="#!"><span class="fa fa-sign-in fa-lg hue"/></a></li>
						
						
						
					      
		       			
		   		</ul>
		   		
          </div><!-- /.navbar-collapse -->
         
         <div class="navbar-header"> <sup>BETA</sup><a class="navbar-brand" href="#">Sentiks</a></div>
          
	</div>
</nav>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47000167-2', 'sentiks.com');
  ga('send', 'pageview');

</script>

