<section ng-controller='IndexCtrl'>
 <div id="status"   class="alert alert-danger animation" ng-show="showBrowserStatus">
		     {{statusBrowserMessage}}  
 </div>
<br/>
        <div ui-view>
        	
    
        	
        </div>
  		
</section>
