<section data-ng-controller="IndexController">
 
	<div class="container">
			<div class="row">
				
				<div class="jumbotron">
				    	<div class="col-sm-6 col-md-6 col-md-offset-3">
					    	
					        	<form ng-submit="submit()">
					        		<small><em>Find your social sentiment</em></small>
						        <div class="input-group">
						        	
						            <input type="text" class="form-control" placeholder="Search Your Product" ng-model="keyword">
							            <div class="input-group-btn">
						            <button type="submit" class="btn btn-danger" ng-submit="submit()"><span class="glyphicon glyphicon-search"></span></button>
						            </div>
						        </div>
						        <img ng-src="../img/loaders/loader.gif" class="loading" id="loading-indicator" ng-show="showLoader" >
						        </form>
					        
				        </div>
				        
				 </div>
						
     	  
				       
				</div>				
	</div>	
		


 <div  class="container content" ng-show="showResults"  >

	   
	      <div class="row">
			
     		
      		<div class="col-md-12">
      				

      		 			<div >
						  <ul class="nav" id="resultfilter" >
						  	
						  	  <ul class="nav nav-pills"  opt-kind ok-key="filter" ok-publish="my-iso-opts">
							  <li><a ok-sel="*" class="selected" >All</a></li>
							  <li><a ok-sel=".charts" >Charts</a></li>
							  <li><a ok-sel=".twitter">Twitter</a></li>
							  <li><a ok-sel=".youtube">Youtube</a></li>
							  <li><a ok-sel=".flickr">Flickr</a></li>
							  </ul>
							  <li class="pull-right">
								  <div class="btn-group">
									  <button type="button" class="btn btn-info btn-xs">Sort By	</button>
									  <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown">
									    <span class="caret"></span>
									    <span class="sr-only">Toggle Dropdown</span>
									  </button>
									  
									  <ul class="dropdown-menu" role="menu" iso-sortby-data opt-kind ok-key="sortBy" ok-publish="my-iso-opts">
									    <li><a ok-sel="[date]" ok-type="integer" class="text">Date</a></li>
									    
									    <li ><a  ok-sel=".sentiment" class='selected' class="text">Sentiment</a></li>
									    
									  </ul>
									 
									    
									</div>
							  </li>
						 </ul>
						
						   
	      				
						
						<!-- Tab panes -->
						<div class="containerShift1" id="isotopeContainer" isotope-container iso-options-subscribe="my-iso-opts" iso-method-subscribe="my-iso-method" infinite-scroll='loadMore()'  infinite-scroll-distance='1'>
						  
							  	<div isotope-item  class="sentimentbox charts" data-date-value="9999">
									<table class="table table-bordered">
									<tbody>
							  			<tr class="success"> <td>Postive</td> <td> {{positivepercent}}</td></tr>
							  			<tr class="warning"> <td>Negative</td> <td> {{negativepercent}}</td></tr>
							  			<tr class="danger"> <td>Neutral</td> <td> {{neutralpercent}}</td></tr>
							  			</tbody>
									</table>
									<div class="date"><p></p></div>
							    </div>
						  
						  	
						  


									<div  isotope-item class="result clearfix twitter" data-ng-repeat="item in twitteritems" >
								     		 	
												<div class="box" data-date-value={{item.timeseconds}}>		
														<div class="title">
															<a href ="{{item.link}}" target="_blank" >{{item.title}}</a>
														</div>
														<div class="desc">{{item.description}}</div>
														<div class="info sentiment"><p> {{item.sentiment}}</p></div>
														<div class="info date"><p> {{item.timeago}} - {{item.timeseconds}}</p></div>
												</div>	
													
												
									</div>
							
							
									<div  isotope-item class="result clearfix youtube" data-ng-repeat="item in youtubeitems" container-shiftresults>
								     		 	
												<div class="box" data-date-value={{item.timeseconds}}>		
														<div class="title">
															<a href ="{{item.link}}" target="_blank" >{{item.title}}</a>
														</div>
														<div class="desc"><p>{{item.desc}}</p></div>
														<div>
															<!--<iframe width="200" height="150" src="{{item.source}}" frameborder="0" allowfullscreen></iframe>
															-->
														</div>
														<div class="info sentiment"><p>{{item.sentiment}}</p></div>
														<div class="info date"><p> {{item.timeago}} - {{item.timeseconds}}</p></div>
												</div>	
													
												
									</div>
								
								
								
							
							
									<div isotope-item  class="result clearfix flickr" ></div>
									
									
				
			 		</div>
			</div><!--col-md-->
			
		</div><!--row-->
	</div><!--container-->
	
	
	
	
</section>

<footer> </footer>
