<!--<div id="insightsummarycontainer" ng-controller="InsightSummaryController" ng-show="showInsightSummary" >-->
	<div id="insightsummarycontainer" ng-controller="InsightSummaryController" >
						
							<div class="row">
								<div class="col-md-6 col-sm-4" >
									<div   class="panel panel-default ui-widget-content ">
  											<div   class="panelheader panel-heading " >
  												<span  class="action fa fa-angle-down fa-1x" ng-click="showKeyword = !showKeyword"></span>
											    Emotions
											    <span class="action pull-right fa fa-times fa-1x"></span>
											    <span class="action pull-right fa fa-cog fa-1x"></span>
											    
											  </div>
											  <div show-slide="showKeyword" class=" chartbox panel-body" style="background:#000" >
													<div class="btn-group" data-toggle="buttons">
						                              <label class="btn btn-primary active bubble" id="all">
				        		                       <input type="radio" name="options"> All Keywords
				                		              </label>
				                        		      <label class="btn btn-primary bubble" id="category">
				                                		<input type="radio" name="options"> By Category
				                              			</label>
				                        		 	</div>
													
				                               		 <div packed-circle id="packed"></div>
				                              </div>
				                      </div>
                                

								</div>
								
								<div class="col-md-6 col-sm-4">
									<div   class="ui-widget-content " style="background:#333;border:#333">
  											<div   class=" panel-heading " >
  												<span  class="action fa fa-angle-down fa-1x" ng-click="showMention = !showMention"></span>
											    Mentions
											    <span class="action pull-right fa fa-times fa-1x"></span>
											    <span class="action pull-right fa fa-cog fa-1x"></span>
											    
											  </div>
											  <div show-slide="showMention" >
													<div class="timeline">
														<div class="animation" ng-repeat="event in events">
															<div class="event">
																<div class="eventinfo">
																	<div class="eventsourceimg round">
																		<span  ng-class="getIconClass(event.category)"></span>
																	</div>
																	<div class="eventtime">
																		{{event.date}}
																	</div>
																</div>
																<div class="panel panel-default timelinebox">
																	<div class="panel-heading">
																		From {{event.source}}
																	</div>
																	<div class="panel-body">
																		<span>{{setItem(event)}}</span>
																		<div ng-include src="buildUrl(event.category)"></div>
															      		
															      		</span>
																	</div>
																</div>
															</div>
														</div>
															
													</div>
										</div>
									</div>
										
									
								</div>
								
								
							
						</div>
</div>