 	
 <div id="masterdashboardcontainer" ng-controller="MasterDashboardController" ng-intro-options="IntroOptions" ng-intro-method="CallMe" ng-intro-autostart="false" >
	<div class = "row" >
	 		<div class="col-md-12">
	 			<div dashboard="dashboardOptions"  ng-init="initDashboard()">
	 				
	 			</div>
	 		</div>
	</div>
</div>
