<section class="mastercontroller" ng-controller="MasterController" ng-intro-options="IntroOptions" ng-intro-method="CallMe" ng-intro-autostart="false">
 
	<div class="container animation" ng-show="showSearchBar">
			<div class="row">
				
				<div class="searchbar">
				    	<div  class="col-sm-6 col-md-6 col-md-offset-3" >
					    	
					        	<form  name="searchForm" ng-submit="submit()" novalidate>
					        		<small><em id="step2">Real-Time Social Search and Sentiment Analysis</em></small><span style="padding:5px" class="fa fa-lightbulb-o fa-2x clickcursor" ng-click="CallMe();"></span>
						        <div class="input-group">
						        	
						            <input id="step1" type="text" class="form-control" name="query" placeholder="Enter keyword to search its sentiment" ng-model="keyword" required>
						             
							            <div class="input-group-btn">
						            <button ng-disabled="!searchForm.$valid" type="submit" class="btn btn-danger" ng-submit="submit()"><span class="glyphicon glyphicon-search"></span></button>
						            
						            
						            
						            </div>
						        </div>
						        <img ng-src="../img/loaders/loader.gif" class="loading" id="loading-indicator" ng-show="showLoader" >
						        
						        
						        </form>
						        <div id="wordcloud" word-cloud>
 	
 	
 								</div>
						       
					        
				        </div>
						
     	  
				        				        
				 </div>
			 </div>	
			 
			
				
	</div>	
	
	 <div id="status"   class="alert alert-danger animation" ng-show="showStatus">
		     {{statusMessage}}
	</div>
	
<!--
 <div results-container>
 	
 </div> -->
 
 
 <div charts-container>
 	
 </div>
	
	<div id="sidebar">
	
	
 </div>
	
</section>


