<!--<div id="metricssummarycontainer" ng-controller="MetricsSummaryController" ng-show="showMetricsSummary" >-->
	<div id="metricssummarycontainer" ng-controller="MetricsSummaryController"  >
						
							<div class="row">
								<div class="col-md-12 col-sm-4 " >
									<div   class="panel panel-default ui-widget-content ">
  											<div   class="panelheader panel-heading " >
  												<span  class="action fa fa-angle-down fa-1x" ng-click="showMetric = !showMetric"></span>
											    Metrics
											    <span class="action pull-right fa fa-times fa-1x"></span>
											    <span class="action pull-right fa fa-cog fa-1x"></span>
											    
											  </div>
											  <div show-slide="showMetric" class=" chartbox panel-body">
				                                	<table class="table">
				                                		<thead>
				                                			<tr>
				                                				<th>Source</th>
				                                				<th>Metric</th>
				                                				<th>Events</th> 
				                                			</tr>
				                                			
				                                		</thead>
				                                		<tbody>
				                                			<tr>
					                                			<td rowspan="5"><span class="fa fa-twitter twitterC"></span></td>
					                                			<td> Retweet</td>
					                                			<td><div metricschart val="container['twitter'].folList"></div></td>
				                                			</tr>
				                                			<tr>
				                                				<td> Followers</td>
					                                			<td><div metricschart val="container['twitter'].folList"></div></td>
				                                			</tr>
				                                			<tr>
				                                				<td> Statuses</td>
					                                			<td><div metricschart val="container['twitter'].statusesList"></div></td>
				                                			</tr>
				
				                                			
				                                			<tr>
				                                				<td> Friends</td>
					                                			<td><div metricschart val="container['twitter'].friendsList"></div></td>
				                                			</tr>
				                                			<tr>
				                                				<td> Favorites</td>
					                                			<td><div metricschart val="container['twitter'].favouriteList"></div></td>
				                                			</tr>
				                                			<tr>
					                                			<td rowspan="1"><span class="fa fa-facebook facebookC"></span></td>
					                                			<td> Shares</td>
					                                			<td><div metricschart val="container['facebook'].sharesList"></div></td>
				                                			</tr>
				                                			
				                                			<tr>
					                                			<td rowspan="5"><span class="fa fa-youtube-play youtubeC"></span></td>
					                                			<td> Views</td>
					                                			<td><div metricschart val="container['youtube'].viewList"></div></td>
				                                			</tr>
				                                			<tr>
				                                				<td> Likes</td>
					                                			<td><div metricschart val="container['youtube'].likeList"></div></td>
				                                			</tr>
				                                			<tr>
				                                				<td> Comments</td>
					                                			<td><div metricschart val="container['youtube'].commentList"></div></td>
				                                			</tr>
				                                			<tr>
				                                				<td> Favourite</td>
					                                			<td><div metricschart val="container['youtube'].favouriteList"></div></td>
				                                			</tr>
				                                			<tr>
				                                				<td> Ratings</td>
					                                			<td><div metricschart val="container['youtube'].ratingList"></div></td>
				                                			</tr>
				                                		</tbody>
				                                		
				                						
				                					</table>
				                			</div>
				                		</div>
               					 </div>
                               

							</div>
						
								
</div>