
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"  data-ng-controller="ModalController" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="handlenegativeclick()" aria-hidden="true">&times;</button>
        <h5 class="modal-title" id="myModalLabel">From {{category}} - {{source}}</h5>
        	
        
      </div>
      <div class="modal-body">
      		<div ng-include src="buildUrl(category)"></div>
          		
	</div>
     
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="handlepositiveclick()" >Close</button>
        <button type="button" class="btn btn-primary" ng-click="handlenegativeclick()">Save changes</button> -->
        <span> Update Sentiment if incorrect </span>
        <span ng-show="sentiment != 'negative'" data-toggle="tooltip" data-placement="top" title="Update Negative" class="clickcursor" ng-click=updateSentiment('negative')>
        	<svg width='10' height='10'> <circle cx='5' cy='5' r='5' fill='#FB8072' /></svg>
        </span>
        <span ng-show="sentiment != 'neutral'" data-toggle="tooltip" data-placement="top" title="Update Neutral"  class="clickcursor" ng-click=updateSentiment('neutral')>
        	<svg width='10' height='10'> <circle cx='5' cy='5' r='5' fill='#7282fb' /></svg>
        </span>
        <span ng-show="sentiment != 'positive'" data-toggle="tooltip" data-placement="top" title="Update Positive"  class="clickcursor" ng-click=updateSentiment('positive')>
        	<svg width='10' height='10'> <circle cx='5' cy='5' r='5' fill='#B3DE69' /></svg>
        </span>
	       <div ng-show="showAlert" class="alert alert-info">
		     <strong>Note!</strong> Sentiment is Updated.
		  </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


