<section>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Privacy Policy - Last Updated on 18 January, 2014</h3>
  </div>
  <div class="panel-body" style='font: 0.8em Calibiri;'>
    
  



<p>
This privacy policy (the "Privacy Policy") describes the ways in which Pravisha Technologies Pvt. Ltd. 
or www.sentiks.com (collectively "Pravisha Technologies Pvt. Ltd.") collects, uses, and shares information collected 
from or about you while you are using our website at www.sentiks.com (the "Site"). 
Pravisha Technologies Pvt. Ltd. respects the privacy of the individuals that use the Site, and this Privacy Policy describes how Pravisha Technologies Pvt. Ltd. 
uses the data it collects or receives from users of the Site.
</p>
<p>
Your information, including Personal Information, may be stored in the United Sates, India or other countries where the data protection and other laws may not be as comprehensive as those in your country. By using the Site you consent to your information being collected, used and transferred as set forth in this Privacy Policy.
</p>



<h3>Information Collected</h3>

<h5>Personal Information</h5>
<p>
If you use the Site, Personal Information about you may be collected and processed by Pravisha Technologies Pvt. Ltd.'s employees. "Personal Information" means any information that can uniquely identify a person or be used to contact a person, such as your name or email address. Pravisha Technologies Pvt. Ltd. generally limits access to Personal Information about you (except as otherwise disclosed in this Privacy Policy) to employees who Pravisha Technologies Pvt. Ltd. believes reasonably need to come into contact with that information to provide products or services to you or in order to do their jobs. Creating an account on the Site is not required to use the Site, but if you create an account on the Site, Pravisha Technologies Pvt. Ltd. will collect your name, email address, and URL of your website and in some instances, title, street address, city, state, country, postal code, telephone number, and e-mail address, and any other information useful to Pravisha Technologies Pvt. Ltd.'s products and services, if you provide it to us. If you send correspondence to us such as e-mails or letters, Pravisha Technologies Pvt. Ltd. will collect such information, including any Personal Information, in a file specific to you. In general, if you intentionally provide us with Personal Information, Pravisha Technologies Pvt. Ltd. will collect it.
</p>
<p>
From time to time, Pravisha Technologies Pvt. Ltd. may request other Personal Information in order to provide features, functions or services, but you will always have the choice to decide whether or not to provide the requested information. If you access the restricted access portions of the Site, you may be required to provide additional Personal Information.
</p>
<h5>
Non-Identifiable Information
</h5>
<p>
Additionally, Pravisha Technologies Pvt. Ltd. collects and compiles information relating to your use of the Site which is not Personal Information, such as time, date, browser type, browser language, operating system, domain name of your internet service provider, and IP address (collectively, the "Non-Identifiable Information") as part of the operation of this Site or during the course of your activities on or use of this Site.
</p>
<p>
Pravisha Technologies Pvt. Ltd. may use "cookies" and similar technologies such as bots in connection with operation of the Site to help Pravisha Technologies Pvt. Ltd. to personalize and tailor its services and improve the quality of those services by tracking and storing user preferences, trends and patterns. If you visit any restricted access or password protected portions of the Site, you may be required to use cookies, which may include or be linked to Personal Information. Cookies are small pieces of information that are stored on your computer by the Pravisha Technologies Pvt. Ltd.'s website server. The use of cookies is common in the industry, and they are used at most major web sites. You may customize your browser to automatically inform you whenever a cookie is to be used or refuse all cookies but doing so may impair or prevent the performance of certain functions of the Site, and may not permit access to some areas of the Site. For more information on cookies, see http://www.cookiecentral.com/faq.htm.
</p>
<p>
Pravisha Technologies Pvt. Ltd. uses cookies to allow authentication in restricted access or password protected portions of the Site. This allows Pravisha Technologies Pvt. Ltd. to personalize or regulate the use of the Site, and also permits Pravisha Technologies Pvt. Ltd. to automate the access and data-entry functions of the Site (e.g., login information).
</p>
<p>
In general, Pravisha Technologies Pvt. Ltd. does not use cookies to track the navigational habits of identified users without the user's consent. If you visit the Site only to read or download content, much of the information Pravisha Technologies Pvt. Ltd. does collect is only statistical (e.g., the domain from which you access the Internet, the date and time you access the Site, and the Internet address of the web site from which you linked directly to the Site) and not personally identifiable. Pravisha Technologies Pvt. Ltd. uses this information about the number of visitors and their use of the Site in aggregate form to make the Site more useful and attractive to you.
</p>
<p>
Certain information, like archive threads, may be collected by Pravisha Technologies Pvt. Ltd. as a result of the links displayed as a result of a search query on the Site. Pravisha Technologies Pvt. Ltd. uses this information to understand and improve the quality of the Site and related technology including the accuracy and efficiency of the Site.
</p><p>
By using the Site (which resides in part on servers located in the United States), you unambiguously consent to any collection, processing, transfer or use of any Personal Information. If you do not consent to any collection, processing, transfer, or use of such information, please discontinue use of the Site.
</p>
<h5>
Collecting and Using Information
</h5>
<p>
Pravisha Technologies Pvt. Ltd. uses Personal Information for the purpose for which you provided it. For instance, if you registered on the Site, Pravisha Technologies Pvt. Ltd. uses your Personal Information to provide you any alerts or feeds that you requested Pravisha Technologies Pvt. Ltd. send you. If you provide Personal Information in a search query, Pravisha Technologies Pvt. Ltd. uses that Personal Information to provide you search results. If you correspond with us and include Personal Information, Pravisha Technologies Pvt. Ltd. uses the Personal Information to respond to you. Pravisha Technologies Pvt. Ltd. uses your information to provide you customer support.
</p><p>
Pravisha Technologies Pvt. Ltd. may use your email address to sending you information about Pravisha Technologies Pvt. Ltd.'s products or services, but you may opt out from receiving these promotional messages. However, Pravisha Technologies Pvt. Ltd. always reserves the right to contact you about your account or customer service issues.
</p><p>
Generally, the Non-Identifiable Information is used to provide better services to users and to improve the Site.
</p><p>
In nearly all cases, the above-described data may be collected or processed by, and transferred to, Pravisha Technologies Pvt. Ltd.'s facilities in the United States, India and in other countries where Pravisha Technologies Pvt. Ltd. does business. This may be done through the site's Internet Service Provider (ISP) or through the use of such tools as Google Analytics. This information is gathered to improve the quality of Pravisha Technologies Pvt. Ltd.'s services and Pravisha Technologies Pvt. Ltd.'s ability to market those products and services to specific individuals and organizations that could benefit from them.
</p>
<h5>
Sharing Information
</h5>
<p>
Non-Identifiable Information and Personal Information about you is disclosed and shared with advertisers, business partners, sponsors and other third parties under limited circumstances. Pravisha Technologies Pvt. Ltd. may disclose the frequency of visits to the Site by the average user. Pravisha Technologies Pvt. Ltd. may disclose information to third parties assisting us in carrying out a transaction or providing a service for you (e.g., packaging, sending and delivering purchases and information to you, clearing transactions, or performing statistical analyses of Pravisha Technologies Pvt. Ltd.'s services, performing promotional services and training services), or in connection with merger and acquisition discussions.
</p><p>
Pravisha Technologies Pvt. Ltd. may share data, including Personal Information about you, with Pravisha Technologies Pvt. Ltd.'s affiliates, partners, subsidiaries and companies or individuals who provide services on behalf of Pravisha Technologies Pvt. Ltd. throughout the world. To the extent that these entities have access to your information, they will have agreed with Pravisha Technologies Pvt. Ltd. to follow or already have privacy practices substantively no less protective than Pravisha Technologies Pvt. Ltd.'s practices described in this document, to the extent allowed by applicable law.
</p>
<p>
Pravisha Technologies Pvt. Ltd. will release information, including Personal Information, in connection with any valid law, regulation, or legal process (such as a search warrant, subpoena, statute or court order). Pravisha Technologies Pvt. Ltd. may disclose Personal Information to protect or enforce the rights, property or safety of Pravisha Technologies Pvt. Ltd., its users or other third parties including the disclosure of information with other companies and organizations relating to fraud protection and credit risk reduction.
</p><p>
Pravisha Technologies Pvt. Ltd. may provide Personal Information to Pravisha Technologies Pvt. Ltd.'s trusted businesses or persons to process it for us, based on Pravisha Technologies Pvt. Ltd.'s instructions and in compliance with Pravisha Technologies Pvt. Ltd.'s Privacy Policy and any other appropriate confidentiality and security measures.
</p><p>
Generally, and except as indicated at the time of collection, Pravisha Technologies Pvt. Ltd. does not sell or lease any Personal Information about you to any third party. However, Pravisha Technologies Pvt. Ltd. may aggregate information (gather up data across all user accounts) in a manner that creates Non-Identifiable Information and disclose such information to advertisers and other third parties for other marketing and promotional purposes. In these situations, Pravisha Technologies Pvt. Ltd. does not disclose to these entities any Personal Information. Certain information, such as your name, e-mail address, password, are not disclosed to marketers or advertisers.
</p><p>
You may choose to opt-out from allowing Pravisha Technologies Pvt. Ltd. to provide Non-Identifiable Information to certain partners. Visit networkadvertising.org, aboutads.info and jumptap.com to make informed decisions about your online and mobile privacy and to opt-out.
</p><p>
In the event that Pravisha Technologies Pvt. Ltd. is or substantially all of its assets are sold or otherwise transferred, all information Pravisha Technologies Pvt. Ltd. has about you may be included in the transferred assets.
</p>
<h5>
Other Uses Of Information
</h5>
<p>
On the secure portion of the Site, your login information and password are considered confidential. However, this information may be shared if it is necessary to comply with applicable laws, or to assist law enforcement officials and/or the court and judicial systems.
</p>
<h5>
Security
</h5>
<p>
Pravisha Technologies Pvt. Ltd. uses commercially reasonable technical, physical, operational and procedural safeguards to protect Personal Information from loss, misuse, altercation, and unauthorized access or disclosure. Due to the nature of Pravisha Technologies Pvt. Ltd.'s business, including its dependence on the public Internet, Pravisha Technologies Pvt. Ltd. cannot ultimately ensure that private communications and Personal Information will not be intercepted by third parties or otherwise obtained in ways not described in this Privacy Policy. Although Pravisha Technologies Pvt. Ltd. attempts to protect the privacy of users, Pravisha Technologies Pvt. Ltd. cannot absolutely guaranty that such information will remain private. While no security measure can guarantee against compromise, Pravisha Technologies Pvt. Ltd. regularly reviews and updates its security measures in an effort to provide appropriate security for all information held by Pravisha Technologies Pvt. Ltd..
</p>
<h5>
Children
</h5>
<p>
Pravisha Technologies Pvt. Ltd. takes children's privacy seriously and does not knowingly collect, use or disclose Personal Information from children and is committed to complying with all applicable laws and requirements, such as the United States Children's Online Privacy Protection Act (COPPA). Pravisha Technologies Pvt. Ltd. encourages all parents and guardians to instruct their children in the safe and responsible use of personal information on the Internet. The Site is not intended for or directed at children under the age of 13, and Pravisha Technologies Pvt. Ltd. does not knowingly collect information from children under the age of 13. Pravisha Technologies Pvt. Ltd. asks children under the age of 13 not to use the Site.
</p>
<h5>
Information Update
</h5>
<p>
Pravisha Technologies Pvt. Ltd. recognizes that changes can be made to bulletin and message boards and websites regarding website url's and message board placement. If you have changed your site url, message board software provider, or would like to update your information in any way, please log into your account and modify it there, or contact us at: info@pravishatech.com.
</p>
<h5>
Links
</h5>
<p>
The websites, advertisements, boards and messages displayed as search results or linked to by Pravisha Technologies Pvt. Ltd. are developed, published, and operated by third parties over whom Pravisha Technologies Pvt. Ltd. exercises no control. Since Pravisha Technologies Pvt. Ltd. does not control these web sites, Pravisha Technologies Pvt. Ltd. encourages you to review the privacy statement posted on these (and all) third party websites. Pravisha Technologies Pvt. Ltd. is not responsible for the privacy statements or practices of websites and services controlled by other companies or organizations.
</p>
<h5>
Advertising
</h5>
<p>
Pravisha Technologies Pvt. Ltd. permits third party advertising companies to display ads to you when you visit the Site. These companies may collect use Non-Identifiable Information about your visits to the Site in order to provide advertisements about goods and services that may be of interest to you. These ads are not owned by Pravisha Technologies Pvt. Ltd.. Be advised that Pravisha Technologies Pvt. Ltd.'s policies may or may not reflect or mirror such third party ad providers policies. If you would like more information about this practice and to know your choices about not having this information used by these companies, please visit http://www.networkadvertising.org/choices/.
</p><p>
For example, Pravisha Technologies Pvt. Ltd. uses Google as one such third party advertising vendor, which uses cookies to serve ads on the Site. Google's use of the DART cookie enables Google to serve ads to the Site's users on any and all owned properties of the Site based on their visit to the Site, Pravisha Technologies Pvt. Ltd.'s other owned properties, and other sites on the Internet. Users may opt out of the use of the DART cookie by visiting the Google ad and content network privacy policy http://www.google.com/privacy_ads.html.
</p>
<h5>
Data Retention
</h5>
<p>
Pravisha Technologies Pvt. Ltd. will not retain your Personal Information longer than is necessary for the purpose it was collected.
</p>
<h5>
Your Consent and Changes to the Privacy Policy
</h5>
<p>
By using the Site, you consent to the collection and use of your information as Pravisha Technologies Pvt. Ltd. has outlined in this Privacy Policy and to Pravisha Technologies Pvt. Ltd.'s Terms of Use.
</p><p>
Pravisha Technologies Pvt. Ltd. reserves the right to change, modify or update the terms of this Privacy Policy at any time without notice. Pravisha Technologies Pvt. Ltd. posts the revised Privacy Policy on the Site, indicate the date of the current statement below, so you know when it was last updated. If the changes are material, if possible in Pravisha Technologies Pvt. Ltd.'s sole determination, will give you reasonable advance notice and an opportunity to review the changes before they become effective. If you do not agree to the revised terms and conditions of the Privacy Policy, stop using the Site. Continued use of the Site after any such revision or modification constitutes your acceptance of the Privacy Statement as so revised or modified.
</p>
<h5>
Feedback
</h5>
<p>
If you have questions regarding Pravisha Technologies Pvt. Ltd.'s Privacy Policy, please email them to info@pravishatech.com or contact us by mail or telephone:
</p>
<br><br>
</div>
</div>

</section>