<div id="profilesummarycontainer" ng-controller="ProfileSummaryController" ng-show="showProfileSummary" >
	<div class="padding-md">
				<div class="row">
						<div class="col-md-4 col-sm-4">
							<div id="twitterstats" class="panel panel-animated panel-primary bg-primary animated fadeInUp" style="visibility: visible;">
                                        <div class="panel-body">
                                           

                                            <p class="lead">Twitter</p><!--/lead as title-->

                                            <ul class="list-percentages row">
                                                <li class="col-xs-4">
                                                    <p class="text-ellipsis">Tweets</p>
                                                    <p class="text-lg"><strong>2345</strong></p>
                                                </li>
                                                <li class="col-xs-4">
                                                    <p class="text-ellipsis">Followers</p>
                                                    <p class="text-lg"><strong>8000</strong></p>
                                                </li>
                                                <li class="col-xs-4">
                                                    <p class="text-ellipsis">Following</p>
                                                    <p class="text-lg"><strong>10</strong></p>
                                                </li>
                                            </ul><!--/list-percentages-->
                                            
                                        </div><!--/panel-body-->
							 </div>
							 
							
				</div>
				 <div class="col-md-4 col-sm-4">
								<div id="facebookstats" class="panel panel-animated panel-primary bg-primary animated fadeInUp" style="visibility: visible;">
	                                        <div class="panel-body">
	                                           
	
	                                            <p class="lead">Facebook</p><!--/lead as title-->
	
	                                            <ul class="list-percentages row">
	                                                <li class="col-xs-4">
	                                                    <p class="text-ellipsis">Likes</p>
	                                                    <p class="text-lg"><strong>25000</strong></p>
	                                                </li>
	                                                <li class="col-xs-4">
	                                                    <p class="text-ellipsis">Photos</p>
	                                                    <p class="text-lg"><strong>8000</strong></p>
	                                                </li>
	                                                <li class="col-xs-4">
	                                                    <p class="text-ellipsis">Videos</p>
	                                                    <p class="text-lg"><strong>10</strong></p>
	                                                </li>
	                                            </ul><!--/list-percentages-->
	                                            
	                                        </div><!--/panel-body-->
								 </div>
				</div>
				 <div class="col-md-4 col-sm-4">
								<div id="youtubestats" class="panel panel-animated panel-primary bg-primary animated fadeInUp" style="visibility: visible;">
	                                        <div class="panel-body">
	                                           
	
	                                            <p class="lead">Youtube</p><!--/lead as title-->
	
	                                            <ul class="list-percentages row">
	                                                <li class="col-xs-4">
	                                                    <p class="text-ellipsis">Likes</p>
	                                                    <p class="text-lg"><strong>25000</strong></p>
	                                                </li>
	                                                <li class="col-xs-4">
	                                                    <p class="text-ellipsis">ViewCount</p>
	                                                    <p class="text-lg"><strong>8000</strong></p>
	                                                </li>
	                                                <li class="col-xs-4">
	                                                    <p class="text-ellipsis">Dislikes</p>
	                                                    <p class="text-lg"><strong>10</strong></p>
	                                                </li>
	                                            </ul><!--/list-percentages-->
	                                            
	                                        </div><!--/panel-body-->
								 </div>
				</div>
	</div>
						
						
</div>