
<div  class="container content" ng-show="showResults"  >

	   
	      <div class="row">
			
     		
      		<div class="col-md-12">
      				

      		 			
						  <ul class="nav nav-pills" id="resultfilter">
						  	
						  	
							  <li class="active"><a href="#" data-filter="*" > All <span class="badge">{{items.length}}</span> </a></li>
							  
							  <li ><a href="#" data-filter=".twitter"> Twitter <span class="badge">{{twitteritems.length}}</span> </a></li>
							  <li><a href="#" data-filter=".youtube"> Youtube <span class="badge">{{youtubeitems.length}}</span></a></li>
							  
							  <li class="pull-right">
								 	  <button type="button" class="btn btn-danger btn-xs" ng-click="showChartsFn()"> <span class="glyphicon glyphicon-dashboard"></span> Analyse</button>
								
								
									
							  </li>
							  <li class="pull-right">
								  <div class="btn-group">
									  <button type="button" class="btn btn-info btn-xs">Sort By	</button>
									  <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown">
									    <span class="caret"></span>
									    <span class="sr-only">Toggle Dropdown</span>
									  </button>
									  <ul class="dropdown-menu" role="menu" id="sort-by">
									    <li role="presentation"><a role="menuitem" href="#date" class="text">Date</a></li>
									    
									    <li role="presentation"><a role="menuitem" href="#sentiment" class="text">Sentiment</a></li>
									    
									  </ul>
									</div>
							  </li>
						 </ul>
						
						   
	      				
						
			 <!--		<div infinite-scroll='loadMore()'  infinite-scroll-distance='0' >-->
				 		<div class="containerShift1 isotope" >
				 			
				 		
				 			<div   class="result clearfix twitter isotope-item" data-ng-repeat="item in twitteritems | filter:filterText" data-date-value={{item.timeseconds}}>
								     		 	
												<div class="box" >		
														<div class="title">
															<a href ="{{item.link}}" target="_blank" >{{item.title}}</a>
														</div>
														<div class="desc">{{item.description}}</div>
														<div class="info sentiment"><p> {{item.sentiment}}</p></div>
														<!--
														<div class="info sentiment"><p> {{item.sentimentN}}</p></div> 
														<div class="info sentiment"><p> {{item.sentimentNew}}</p></div> -->
														
														
														<div class="info date"><p> {{item.timeago}}</p></div>
												</div>	
													
												
									</div>
							
							
									<div  class="result clearfix youtube isotope-item" data-ng-repeat="item in youtubeitems | filter:filterText" >
								     		 	
												<div class="box" data-date-value={{item.timeseconds}}>		
														<div class="title">
															<a href ="{{item.link}}" target="_blank" >{{item.title}}</a>
														</div>
														<div class="desc"><p>{{item.desc}}</p></div>
														<div>
														<!--	 <iframe width="200" height="150" src="{{item.source}}" frameborder="0" allowfullscreen></iframe>-->
															
														</div>
														<div class="info sentiment"><p>{{item.sentiment}}</p></div>
														<!--
														<div class="info sentiment"><p> {{item.sentimentN}}</p></div>
														<div class="info sentiment"><p> {{item.sentimentNew}}</p></div>
														-->
														<div class="info date"><p> {{item.timeago}}</p></div>
												</div>	
													
												
									</div>
							</div>
			 		<!--</div> -->
			</div><!--col-md-->
			
		</div><!--row-->
	</div><!--container-->
	