
<div data-ng-repeat="item in items">
	<div  class="result clearfix">
	      		<div class="box">		
														<div class="title">
															<a href ="{{item.link}}" target="_blank" >{{item.title}}</a>
														</div>
														<div class="desc" ng-bind-html=item.desc></div>
														
														<div>
														 
														
															<div class="info date"><p> {{item.timeago}}</p>
																
															</div>	
														</div>
																											
														
				</div>	
	</div>
</div>
