<!--<div id="searchsummarycontainer" ng-controller="SearchSummaryController" ng-show="showSearchSummary" >-->
	<div id="searchsummarycontainer" ng-controller="SearchSummaryController" >
						
							
									<div class="row">
										<div class="col-md-6">
									<div  class="panel panel-default ui-widget-content ">
  											<div   class="panelheader panel-heading " >
  												<span  class="action fa fa-angle-down fa-1x" ng-click="showSource = !showSource"></span>
											    Source 
											    <span class="action pull-right fa fa-times fa-1x"></span>
											    <span class="action pull-right fa fa-cog fa-1x"></span>
											    
											  </div>
											  <div show-slide="showSource" class=" chartbox panel-body">
											  		<div class="row">
														<div class=" col-md-2 col-sm-4">		  	
													  	<div easypiechart options="container['twitter'].options" percent="container['twitter'].percent" class="easyPieChart" ><span class="fa fa-twitter fa-lg twitterC"></span></div>
														<p class=" twitterC text2"> {{container['twitter'].count}} tweets</p>
													   </div>
													    <div class="  col-md-2 col-sm-4">
		
																<div easypiechart options="container['youtube'].options" percent="container['youtube'].percent" class="easyPieChart"  ><span class="fa fa-youtube-play fa-lg youtubeC"></span></div>
																<p class="text2 youtubeC">{{container['youtube'].count}} videos</p>
		
														</div>
														<div class="col-md-2 col-sm-4">
														
					
																<div easypiechart options="container['facebook'].options" percent="container['facebook'].percent" class="easyPieChart"><span class="fa fa-facebook fa-lg facebookC"></span></div>
																<p class="text2 facebookC">{{container['facebook'].count}} posts</p>
					  
														
														</div>
														<div class="col-md-2 col-sm-4">
															
																<div easypiechart options="container['googleplus'].options" percent="container['googleplus'].percent" class="easyPieChart"  ><span class="fa fa-google-plus fa-lg googleplusC"></span></div>
																	<p class="text2 googleplusC">{{container['googleplus'].count}} posts</p>

														</div>
														<div class="col-md-2 col-sm-4">
															
																<div easypiechart options="container['rss'].options" percent="container['rss'].percent" class="easyPieChart"  ><span class="fa fa-rss fa-lg rssC"></span></div>
																	<p class="text2 rssC">{{container['rss'].count}} news</p>
															
														</div>
														<div class="col-md-2 col-sm-4">
															
																<div easypiechart options="container['linkedin'].options" percent="container['linkedin'].percent" class="easyPieChart"  ><span class="fa fa-linkedin fa-lg linkedinC"></span></div>
																	<p class="text2 linkedinC">{{container['linkedin'].count}} posts</p>
															</div>
														
													</div>
											  </div>
											   
									
																				
										</div>
							
								
									</div>
								
									<div class="col-md-6">
									<div class="panel panel-default ui-widget-content ">
  											<div   class="panelheader panel-heading " >
  												<span  class="action fa fa-angle-down fa-1x" ng-click="showSentiment = !showSentiment"></span>
											    Sentiment
											    <span class="action pull-right fa fa-times fa-1x"></span>
											    <span class="action pull-right fa fa-cog fa-1x"></span>
											    
											  </div>
											  <div show-slide="showSentiment" class=" chartbox panel-body">
													<div class="row">
													<div class="col-md-4 col-sm-4">
														<div  guagechart  options="container['positive'].options" percent="container['positive'].percent"   ></div>
															<canvas class="guagePieChart" ></canvas>
															
															<p class="text2 ">{{container['positive'].percent}}% positive</p>
															
													</div>
												<div class="col-md-4 col-sm-4">
															<div  guagechart  options="container['negative'].options" percent="container['negative'].percent"   ></div>
																<canvas class="guagePieChart" ></canvas>
																
																<p class="text2 ">{{container['negative'].percent}}% negative</p>
																
												
												</div>
												<div class="col-md-4 col-sm-4">
												
															<div  guagechart  options="container['neutral'].options" percent="container['neutral'].percent"   ></div>
																<canvas class="guagePieChart" ></canvas>
																
																<p class="text2 ">{{container['neutral'].percent}}% neutral</p>
																
												</div>
												</div>
												</div>
												
									</div>
									</div>
									<div class="col-md-6 col-sm-4">
									<div class="panel panel-default ui-widget-content ">
  											<div   class="panelheader panel-heading " >
  												<span  class="action fa fa-angle-down fa-1x" ng-click="showInfluence = !showInfluence"></span>
											    Influence
											    <span class="action pull-right fa fa-times fa-1x"></span>
											    <span class="action pull-right fa fa-cog fa-1x"></span>
											    
											  </div>
											  <div show-slide="showInfluence" class=" chartbox panel-body">
											  		<div class="row">
													<div class="col-md-6 col-sm-4">
														
															<div  guagechart  options="container['highinfluence'].options" percent="container['highinfluence'].percent"   ></div>
																<canvas class="guagePieChart" ></canvas>
																
																<p class="text2 ">{{container['highinfluence'].percent}}% Highly Influential</p>
																
															
													</div>
													
													<div class="col-md-6 col-sm-4">
														
															<div  guagechart  options="container['lowinfluence'].options" percent="container['lowinfluence'].percent"   ></div>
																<canvas class="guagePieChart" ></canvas>
																
																<p class="text2 ">{{container['lowinfluence'].percent}}% Low Influential</p>
																
															
													</div>
													</div>
													</div>
												</div>
								
										</div>
										<div class="col-md-6">
											<div metrics-summary></div>
										</div>
											
								
					</div>