<section>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Terms of Use - Last Updated on 18 January, 2014</h3>
  </div>
  <div class="panel-body" style='font: 0.8em Calibiri;'>
    
  


<p>	
Welcome to www.sentiks.com. Pravisha Technologies Pvt. Ltd ("sentiks") provides its services to you, through the Site, including its search engine services to enable you to search forums, websites, blogs, and other social media (collectively known as SocialMedia). The www.sentiks.com website (the "Site") is owned and operated by Pravisha Technologies Pvt. Ltd.
</p>

<h5>1. ACCESS</h5>
<p>		
PLEASE READ THESE TERMS AND CONDITIONS OF USE CAREFULLY. BY USING THE SITE YOU AGREE TO THESE TERMS AND CONDITIONS. These terms and conditions of use ("Terms of Use") apply exclusively to your access to, and use of, the Site and do not alter in any way the terms and conditions of any other agreement(s) you may have with Pravisha Technologies Pvt. Ltd. These Terms of Use apply generally to the Site and to all websites operated by Pravisha Technologies Pvt. Ltd (and its affiliates); however, certain restricted areas of the Sites or data feeds may have additional terms and conditions.
</p>
<p>		
Pravisha Technologies Pvt. Ltd operates and maintains the Site, at least in part, from Bangalore, Karnataka, India.
</p>

<h5> 2. CHANGES TO TERMS OF USE.</h5>
<p>
Pravisha Technologies Pvt. Ltd reserves the right, at its sole discretion, to change, modify, add, or remove portions of these Terms of Use, at any time. It is your responsibility to check these Terms of Use periodically for changes. Your continued use of the Site, following the posting of changes, will mean that you accept and agree to all changes. As long as you comply with these Terms of Use, Pravisha Technologies Pvt. Ltd. grants you a personal, non-exclusive, non-transferable, limited privilege to enter and use the Site.

Pravisha Technologies Pvt. Ltd reserves the right to change or discontinue the Site with or without notice, including without limitation, removing features or functionality. Pravisha Technologies Pvt. Ltd reserves the right to charge fees for use of the Site in the future.
</p>
<h5>
3. CONTACT INFORMATION.</h5>
<p>
For all communications,technical questions or comments about the Site plese address to info@pravishatech.com
</p>
<p>

</p>
<h5>
4. PRIVACY POLICY.
</h5>
<p>
Please review Pravisha Technologies Pvt. Ltd Privacy Policy for the Site. Pravisha Technologies Pvt. Ltd Privacy Policy applies to use of the Site, and its terms are made a part of these Terms of Use by this reference. Additionally, by using the Site, you acknowledge and agree that Internet transmissions are never completely private or secure. You understand that any message or information you send to the Site may be read or intercepted by others, even if there is a special notice that a particular transmission is encrypted.
</p>
<h5>
5. COPYRIGHT COMPLAINTS.
</h5>
<p>
Please review Pravisha Technologies Pvt. Ltd Privacy Policy for the Site. Pravisha Technologies Pvt. Ltd Privacy Policy applies to use of the Site, and its terms are made a part of these Terms of Use by this reference. Additionally, by using the Site, you acknowledge and agree that Internet transmissions are never completely private or secure. You understand that any message or information you send to the Site may be read or intercepted by others, even if there is a special notice that a particular transmission is encrypted.
</p>
<p>
Pravisha Technologies Pvt. Ltd respects the intellectual property of others, and expects its users to do the same. If you believe, in good faith, that any materials on the Site infringe upon your copyrights, please send the following information to Pravisha Technologies Pvt. Ltd Copyright Agent by mail, email. 
<ul>
	<li>
    Identify the copyrighted work that you claim has been infringed, including the URL (Internet address) or other specific location on the Site where the material you claim is infringed is located. Include enough information to allow Pravisha Technologies Pvt. Ltd to locate the material, and explain why you think an infringement has taken place. If multiple copyrighted works at a single online site are covered by a single notification, a representative list of such works at that site is allowed;
</li>
<li>
    Identify the allegedly infringing work and include information reasonably sufficient to allow us to locate the material -- for example, the URL (Internet address) where it is posted or the name of the book in which it has been published;
</li>
<li>
    Your full legal name, mailing address, telephone number, and e-mail address;
</li>
<li>
    A statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law;
</li>
<li>
    A statement by you, made under penalty of perjury, that the information in your notice is accurate, and that you are the copyright owner or are authorized to act on the copyright owner's behalf; and
</li>
<li>
    An electronic or physical signature of the owner of the copyright or the person authorized to act on behalf of the owner of the copyright interest.
   </li>
   </ul>
</p>

<h5>
6. COPYRIGHTS, TRADEMARKS, AND PERMISSIONS.
</h5>
<p>
You acknowledge and agree that Pravisha Technologies Pvt. Ltd or third parties granting rights to Pravisha Technologies Pvt. Ltd hold title to any and all materials on the Site, the underlying software of the Site, and related technology, including all intellectual property rights therein. All content including text, graphics, user interfaces, visual interfaces, photographs, trademarks, artwork and computer code (collectively, "Content"), including but not limited to the design, structure, selection, coordination, expression, "look and feel" and arrangement of such Content, contained on the Site is owned by, controlled by, or licensed by Pravisha Technologies Pvt. Ltd, and is protected by trade dress, copyright, patent and trademark laws, and various other intellectual property rights and unfair competition laws. You do not acquire or have any ownership, license, or other proprietary interest in the Site, Content, or any information contained on or provided by the Site. All rights not expressly granted in the Terms of Use are reserved by Pravisha Technologies Pvt. Ltd.
</p<p>
Pravisha Technologies Pvt. Ltd authorizes you to view and use the Site solely for your personal informational and noncommercial use, and downloading is limited to one electronic or hard copy of limited portions. If you download or print any pages or Content, you must (1) not remove any proprietary notice language in all copies of such documents, (2) use such information only for your personal, non-commercial informational purpose and not copy or post such information on any networked computer or broadcast it in any media, (3) make no modifications to any such information, and (4) not make any additional representations or warranties relating to such documents.
</p><p>
Except as expressly provided in these Terms of Use, no part of the Site or Content may be copied, reproduced, republished, uploaded, posted, publicly displayed, encoded, translated, transmitted or distributed in any way (including "mirroring") to any other computer, server, website, or other medium for publication or distribution or for any commercial enterprise, without express prior written consent from Pravisha Technologies Pvt. Ltd.
</p><p>
You will not frame or use framing techniques to enclose any portion of this Site or the Content without the express prior written consent of Pravisha Technologies Pvt. Ltd. You will not use meta tags or any other hidden text using the Pravisha Technologies Pvt. Ltd name or trademarks and service marks without the express prior written consent of Pravisha Technologies Pvt. Ltd.
</p><p>
No commercial use of the information on or under the Site is licensed or permitted. The use of automated systems (robots, spiders, or any other data-mining or similar data-gathering and extraction tools) to access, acquire, or download information on the Site is expressly prohibited where such systems are employed in connection with commercial objectives (other than indexing for search engines), or in a fashion that directly or indirectly violates any privacy interests.
</p><p>
The word "sentiks," the and logos, and the products and services described in the Site are either trademarks, trade names, or service marks of Pravisha Technologies Pvt. Ltd and its licensors, or are the property of their respective owners. These marks may not be copied, imitated, or used, in whole or in part, without the express prior written permission of Pravisha Technologies Pvt. Ltd or their respective owners, and then with the proper acknowledgments. In addition, page headers, custom graphics, button icons, and scripts may be service marks, trademarks, or trade dress of Pravisha Technologies Pvt. Ltd, and may not be copied, imitated, or used, in whole or in part, without the express prior written permission of Pravisha Technologies Pvt. Ltd.
</p><p>
You will not reverse engineer or attempt to derive the source code of the Site. You will not send automated queries to the Site without the prior written approval of us, or attempt to understand how the Site ranks results. You will not use the Site to sell a product or service or to advertise or direct activity to other websites. You will not decompile, reverse engineer or otherwise manipulate or work with the software or software architecture of the Site. You will not use any robot or any other automatic device and you will not use any manual process to monitor or to copy any information in the Site for any unauthorized purpose. You will not use any automatic device, software, or other routine to interfere with or attempt to interfere with the functioning of the Site. You will not interfere with the operation of the Site or any other party's use of the Site.
</p><p>
You will not use any "deep-link", "page-scrape", "robot", "spider", or other automatic device, program, algorithm or methodology, or any similar or equivalent manual process, to access, acquire, copy or monitor any portion of the Site or any Content, or in any way reproduce or circumvent the navigational structure or presentation of the Site or any Content, to obtain or attempt to obtain any materials, documents, or information through any means not purposely made available through the Site. Pravisha Technologies Pvt. Ltd reserves the right to bar any such activity.
</p><p>
You will not attempt to gain unauthorized access to any portion or feature of the Site, or any other systems or networks connected to the Site or to any Pravisha Technologies Pvt. Ltd server, or to any of the services offered on or through the Site, by hacking, password "mining" or any other illegitimate means. You will not probe, scan, or test the vulnerability of the Site or any network connected to the Site, nor breach the security or authentication measures on the Site or any network connected to the Site. You will not reverse look-up, trace, or seek to trace any information on any other user of or visitor to the Site, or any other customer of Pravisha Technologies Pvt. Ltd, to its source, or exploit the Site or any service or information made available or offered by or through the Site, in any way where the purpose is to reveal any information, including but not limited to personal identification or information, other than your own information, as provided for by the Site.
</p><p>
You agree that you will not take any action that imposes an unreasonable or disproportionately large load on the infrastructure of the Site or Pravisha Technologies Pvt. Ltd's systems or networks, or any systems or networks connected to the Site or to Pravisha Technologies Pvt. Ltd. You agree not to use any device, software, or routine to interfere or attempt to interfere with the proper working of the Site or any transaction being conducted on the Site, or with any other person's use of the Site.
</p><p>
You will not forge headers or otherwise manipulate identifiers in order to disguise the origin of any message or transmittal you send to Pravisha Technologies Pvt. Ltd on or through the Site or any service offered on or through the Site. You will not pretend that you are, or that you represent, someone else, or impersonate any other individual or entity.
</p><p>
You will not use the Site or any Content for any purpose that is unlawful or prohibited by these Terms of Use, or to solicit the performance of any illegal activity or other activity which infringes the rights of Pravisha Technologies Pvt. Ltd or others. You will not transmit, install, upload, post or otherwise transfer any information in violation of the laws of the United States or any other country in which you reside.
</p>

<h5>
7. REGISTRATION.
</h5>
<p>
You do not need to register or create an account on the Site in order to use the Site. However, to access and use certain features or functions of the Site, such as receiving email alerts, or certain services, you will need to register and create an account. You must provide complete, accurate, and truthful information when registering. You are responsible for maintaining the confidentiality of any password and username needed to access the Site. You are responsible for all activities that occur under your password or username. Should you suspect that any unauthorized party may be using your password or account or you suspect any other breach of security, you will contact Pravisha Technologies Pvt. Ltd immediately. Usernames are the property of Pravisha Technologies Pvt. Ltd, and Pravisha Technologies Pvt. Ltd may change your username in our discretion. Pravisha Technologies Pvt. Ltd may terminate or suspend your account if you are in violation of this Terms of Use or if Pravisha Technologies Pvt. Ltd reasonably believes your use of your account or the Site could cause us to incur cost, damage, expense, or liability of any kind. You will not use anyone else's user ID, password, or account at any time without the express permission and consent of the holder of that user ID, password, or account. Pravisha Technologies Pvt. Ltd cannot and will not be liable for any loss or damage arising from your failure to comply with these obligations.
</p><p>
The Site is not intended for or directed at children under the age of 13, and you will not register with the Site if you are under the age of 13.
</p>
<h5>
8. YOUR CONTENT.
</h5>
<p>
To use the Site, you will need to submit search terms. Pravisha Technologies Pvt. Ltd will collect and use the search terms to provide the search services requested by you and you give us permission to do so.
</p>
<h5>
9. SEARCH RESULTS; THIRD PARTY CONTENT.
</h5>
<p>
You acknowledge that by using the Site, you will be presented with search results that direct you to third party content. Some, if not all, of the content and information you may access through the Site's search results is owned and controlled by third parties. You may find some third party content to be offensive, indecent, or otherwise objectionable. Information and other content obtained by using the Site and any third party SocialMedia or websites displayed as search results or linked to by the Site are developed, owned, and maintained by third parties.  As a result, Pravisha Technologies Pvt. Ltd does not endorse or control and has no responsibility or liability for any of the social sites, information, or links made available by the Site.
</p>
<h5>
10. SUBMISSIONS.
</h5>
<p>
Except as otherwise provided in a separate written agreement between you and Pravisha Technologies Pvt. Ltd, you agree that any materials, including but not limited to questions, comments, suggestions, ideas, notes, drawings, original or creative materials, or other information, provided by you in the form of e-mail or electronic submissions to Pravisha Technologies Pvt. Ltd, or postings at the Site, are nonconfidential and shall become the sole and exclusive property of Pravisha Technologies Pvt. Ltd to the fullest extent permitted by applicable law. Pravisha Technologies Pvt. Ltd shall own all exclusive rights and shall be entitled to the unrestricted use of these materials for any and all purposes, commercial or otherwise, without acknowledgment or additional compensation to you. In the event applicable law operates to prevent Pravisha Technologies Pvt. Ltd from becoming the sole owner of any such property, then this provision shall be effective as granting to Pravisha Technologies Pvt. Ltd (with rights of assignment) a perpetual, worldwide, paid-in-full, nonexclusive right (including any and all moral rights) and license to make, use, sell, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, communicate to the public, perform and display the content (in whole or in part) worldwide and or to incorporate it in other works in any form, media, or technology now known or later developed, for the full term of any rights that may exist in any such material.
</p>
<h5>
11. FORUMS, INTERACTIVE AREAS, POSTINGS, AND FEEDBACK.
</h5>
<p>
The Site may include discussion forums or other interactive areas. You hereby agree to not upload, distribute, or otherwise publish through the Site any content that is unlawful, libelous, defamatory, obscene, pornographic, harassing, threatening, invasive of privacy or publicity rights, abusive, inflammatory, or otherwise objectionable, or that would constitute or encourage a criminal offense, violate the rights of any party, or otherwise create liability or violate any law. Forums and interactive areas shall be used only for your personal and noncommercial purposes. On the Site you cannot, without the express written approval of Pravisha Technologies Pvt. Ltd, distribute or publish promotions, advertising or solicitations for funds, goods, or services. You shall remain solely liable for the content of any messages or other information posted by you on the Site, and Pravisha Technologies Pvt. Ltd takes no responsibility and assumes no liability for the content of posted or uploaded material. Pravisha Technologies Pvt. Ltd reserves the right, in its sole discretion, to remove or edit any material posted by you that is determined to be harmful, offensive, or otherwise inappropriate. You are solely responsible for all posts to any discussion forums or other interactive areas made with your account information.
</p><p>
You agree to comply with all additional rules, procedures and policies posted by Pravisha Technologies Pvt. Ltd for any forums or other interactive areas. Such additional rules, procedures or policies will be posted in the applicable forum or other interactive area.
</p>
<h5>
12. ADVERTISERS.
</h5>
<p>
The Site may contain advertising and sponsorship from third parties. By using the Site, you acknowledge that third party advertisements may be served to you on the Site. Pravisha Technologies Pvt. Ltd is not responsible or liable for any advertisements or the products or services being advertised, and advises you to review any third party's privacy policy and terms of use for more information about those products, services, and companies. Your dealings with advertisers and third party vendors found on or through the Site or advertisements on the Site, including your participation in promotions, purchase of goods and services, and any terms, conditions, warranties or representations associated with such activities, are solely between you and the third party advertiser or vendor.
</p>
<h5>
13. LINKS.
</h5>
<p>
The Site search results will include links to SocialMedia and other websites. There may also be links in third party advertisements served on the Site. You acknowledge that these links are provided solely as a convenience to you and not as an endorsement by Pravisha Technologies Pvt. Ltd or by any of its third-party providers regarding the contents of those SocialMedia and other websites. Pravisha Technologies Pvt. Ltd and its third-party providers are not responsible for will not have any liability with respect to the information or content contained in on or in any SocialMedia and other websites that you may access as a result of such links including any objectionable or offensive content. Pravisha Technologies Pvt. Ltd reserves the right, but does not have any obligation, to remove any offensive or objectionable content. Pravisha Technologies Pvt. Ltd may establish links to websites that are operated by third parties. Pravisha Technologies Pvt. Ltd has no control over such websites and makes no claim or representation regarding, and accepts no responsibility for, the quality, content, nature, or reliability of websites accessible by hyperlink from the Site, or websites linking to the Site. Visitors to such third party websites should refer to such websites' respective privacy policies, terms and conditions and practices. Any mention on the Site of products or services provided by third parties is for informational purposes only and does not constitute and endorsement or recommendation by Pravisha Technologies Pvt. Ltd.
</p>
<h5>
14. DISCLAIMER.
</h5>
<p>
We provide www.sentiks.com "as is" and "as available." We make no express warranties or guarantees about www.sentiks.com. We make no claims of time-to-load, service up-time or data accuracy. www.sentiks.com is currently in beta version and the features like sentiment analysis are not guaranteed to be accurate.
</p>
<p>
YOU USE THE SITE AT YOUR OWN RISK. Pravisha Technologies Pvt. Ltd DOES NOT REVIEW OR EDIT SEARCH RESULTS, RELATED CONTENT, OR THIRD PARTY ADVERTISEMENTS. Pravisha Technologies Pvt. Ltd DOES NOT PROMISE THAT THE SITE OR ANY CONTENT, SERVICE OR FEATURE OF THE SITE WILL BE ERROR-FREE OR UNINTERRUPTED, OR THAT ANY DEFECTS WILL BE CORRECTED, OR THAT YOUR USE OF THE SITE WILL PROVIDE SPECIFIC RESULTS. THE SITE AND ITS CONTENT ARE DELIVERED ON AN "AS-IS" AND "AS-AVAILABLE" BASIS WITH NO WARRANTIES OF ANY KIND. ALL INFORMATION PROVIDED ON THE SITE IS SUBJECT TO CHANGE WITHOUT NOTICE. Pravisha Technologies Pvt. Ltd CANNOT ENSURE THAT ANY FILES OR OTHER DATA YOU DOWNLOAD FROM THE SITE WILL BE FREE OF VIRUSES OR CONTAMINATION OR DESTRUCTIVE FEATURES. Pravisha Technologies Pvt. Ltd DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING ANY WARRANTIES OF ACCURACY, NON-INFRINGEMENT, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. Pravisha Technologies Pvt. Ltd DISCLAIMS ANY AND ALL LIABILITY FOR THE ACTS, OMISSIONS AND CONDUCT OF ANY THIRD PARTIES IN CONNECTION WITH OR RELATED TO YOUR USE OF THE SITE AND/OR ANY Pravisha Technologies Pvt. Ltd SERVICES. YOU ASSUME TOTAL RESPONSIBILITY FOR YOUR USE OF THE SITE AND ANY LINKED SITES. YOUR SOLE REMEDY AGAINST Pravisha Technologies Pvt. Ltd FOR DISSATISFACTION WITH THE SITE OR ANY CONTENT IS TO STOP USING THE SITE OR ANY SUCH CONTENT. THIS LIMITATION OF RELIEF IS A PART OF THE BARGAIN BETWEEN THE PARTIES. YOU AGREE THAT YOUR USE OF OR RELIANCE UPON ANY INFORMATION OBTAINED THROUGH THE SITE IS AT YOUR OWN DISCRETION AND RISK.
</p>
<p>
The above disclaimer applies to any damages, liability or injuries caused by an failure of performance, error, omission, interruption, deletion, defect, delay in operation or transmission, computer virus, communication line failure, theft or destruction of or unauthorized access to, alteration of, or use, whether for breach of contract, tort, negligence or any other cause of action.
</p>
<p>
Pravisha Technologies Pvt. Ltd reserves the right to do any of the following, at any time, without notice: (1) to modify, suspend or terminate operation of or access to the Site, or any portion of the Site, for any reason; (2) to modify or change the Site, or any portion of the Site, and any applicable policies or terms; and (3) to interrupt the operation of the Site, or any portion of the Site, as necessary to perform routine or non-routine maintenance, error correction, or other changes.
</p>
<h5>
15. LIMITATION OF LIABILITY.
</h5>
<p>
TO THE FULLEST EXTENT ALLOWED BY APPLICABLE LAW, YOU AGREE THAT Pravisha Technologies Pvt. Ltd WILL NOT BE LIABLE TO YOU OR TO ANY OTHER PARTY FOR ANY INDIRECT DAMAGES, OR FOR ANY SPECIAL, EXEMPLARY, PUNITIVE, INCIDENTAL, CONSEQUENTIAL OR OTHER DAMAGES (INCLUDING, BUT NOT LIMITED TO, LOST PROFITS OR LOST TIME), WHETHER BASED ON CONTRACT, TORT, STRICT LIABILITY OR OTHERWISE, WHICH ARISE OUT OF OR ARE IN ANY WAY CONNECTED WITH ANY ACCESS TO THE SITE OR ANY VIEWING OR USE OF ANY INFORMATION ON OR THROUGH THE SITE OR ANY CONTRACTUAL OR OTHER DEALINGS OR RELATIONSHIPS YOU MAY HAVE WITH THIRD PARTIES BASED UPON ANY INFORMATION INCLUDED IN OR THROUGH THE SITE. IN NO EVENT WILL Pravisha Technologies Pvt. Ltd'S AGGREGATE LIABILITY TO YOU ARISING FROM OR RELATED TO YOUR USE OF THE SITE EXCEED $100. YOU ACKNOWLEDGE THAT, AS NO SUBSCRIPTION OR OTHER FEES ARE REQUIRED FOR YOUR ACCESS TO THE SITE, THE LIMITATIONS IN THIS PARAGRAPH ARE REASONABLE AND APPROPRIATE. BECAUSE SOME JURISDICTIONS DO NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY FOR INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, EXEMPLARY OR PUNITIVE DAMAGES, SOME OF THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.
</p>
<p>
Except where prohibited by law, in no event will Pravisha Technologies Pvt. Ltd be liable to you for any indirect, consequential, exemplary, incidental or punitive damages, including lost profits, even if Pravisha Technologies Pvt. Ltd has been advised of the possibility of such damages.
</p>
<h5>
16. INDEMNIFICATION.
</h5>
<p>
You shall indemnify, defend, and hold Pravisha Technologies Pvt. Ltd, its subsidiaries, affiliates, officers, employers, directors, shareholders, predecessors, successors in interest, and other agents, harmless from and against any claim, demand, suit, cause of action, proceeding, loss, liability, damage or expense (including reasonable attorney fees) arising out of or related to your use of the Site, including, without limitation, any violations by you of the Terms of Use and your use of or reliance on any search results.
</p>
<h5>
17. VIOLATION OF THESE TERMS OF USE.
</h5>
<p>
Pravisha Technologies Pvt. Ltd may disclose any information Pravisha Technologies Pvt. Ltd has about you (including your identity) if Pravisha Technologies Pvt. Ltd determines that such disclosure is necessary in connection with any investigation or complaint regarding your use of the Site, or to identify, contact, or bring legal action against someone who may be causing injury to or interference with (either intentionally or unintentionally) Pravisha Technologies Pvt. Ltd's rights or property, or the rights or property of visitors to or users of the Site, including Pravisha Technologies Pvt. Ltd's customers. Pravisha Technologies Pvt. Ltd reserves the right at all times to disclose any information that Pravisha Technologies Pvt. Ltd deems necessary to comply with any applicable law, regulation, legal process or governmental request. Pravisha Technologies Pvt. Ltd also may disclose your information when Pravisha Technologies Pvt. Ltd determines that applicable law requires or permits such disclosure, including exchanging information with other companies and organizations for fraud protection purposes.
</p>
You acknowledge and agree that Pravisha Technologies Pvt. Ltd may preserve any transmittal or communication by you with Pravisha Technologies Pvt. Ltd through the Site or any service offered on or through the Site, and may also disclose such data if required to do so by law or Pravisha Technologies Pvt. Ltd determines that such preservation or disclosure is reasonably necessary to (1) comply with legal process, (2) enforce these Terms of Use, (3) respond to claims that any such data violates the rights of others, or (4) protect the rights, property or personal safety of Pravisha Technologies Pvt. Ltd, its employees, users of or visitor to the Site, and the public.
<p>
You agree that Pravisha Technologies Pvt. Ltd may, in its sole discretion and without prior notice, terminate your access to the Site and/or block your future access to the Site if Pravisha Technologies Pvt. Ltd determines that you have violated these Terms of Use or other agreements or guidelines which may be associated with your use of the Site. You also agree that any violation by you of these Terms of Use will constitute an unlawful and unfair business practice, and will cause irreparable harm to Pravisha Technologies Pvt. Ltd, for which monetary damages would be inadequate, and you consent to Pravisha Technologies Pvt. Ltd obtaining any injunctive or equitable relief that Pravisha Technologies Pvt. Ltd deems necessary or appropriate in such circumstances. These remedies are in addition to any other remedies Pravisha Technologies Pvt. Ltd may have at law or in equity.
</p><p>
You agree that Pravisha Technologies Pvt. Ltd may, in its sole discretion and without prior notice, terminate your access to the Site, for cause, which includes (but is not limited to) (1) requests by law enforcement or other government agencies, (2) a request by you (self-initiated account deletions), (3) discontinuance or material modification of the Site or any service offered on or through the Site, or (4) unexpected technical issues or problems.
</p><p>
If Pravisha Technologies Pvt. Ltd does take any legal action against you as a result of your violation of these Terms of Use, Pravisha Technologies Pvt. Ltd will be entitled to recover from you, and you agree to pay, all reasonable attorneys' fees and costs of such action, in addition to any other relief granted to Pravisha Technologies Pvt. Ltd. You agree that Pravisha Technologies Pvt. Ltd will not be liable to you or to any third party for termination of your access to the Site as a result of any violation of these Terms of Use.
</p>
<h5>
18. GOVERNING LAW/JURISDICTION.
</h5>
<p>
These Terms of Use and your access to and use of information from the Site are governed by the laws of the State of Karnataka, India, without regard to any conflict of laws rules. All claims, suits, or causes of action arising out of or relating to these terms or the Services will be litigated exclusively in the Supreme Court of India or High Court of Bangalore,Karnataka, India, and you and Pravisha Technologies Pvt. Ltd consent to personal jurisdiction in those courts.
</p>
<h5>
19. ENTIRE AGREEMENT.
</h5>
<p>
This Terms of Use constitutes the entire agreement between you and Pravisha Technologies Pvt. Ltd regarding your access to the Site and your reproduction and use of any information in the Site. Any waiver of any term or condition of this User Agreement shall not be effective unless in a written document signed by an authorized representative of Pravisha Technologies Pvt. Ltd. These terms control the relationship between Pravisha Technologies Pvt. Ltd and you. They do not create any third party beneficiary rights. If you do not comply with these terms, and Pravisha Technologies Pvt. Ltd does not take action right away, this doesn't mean that Pravisha Technologies Pvt. Ltd is giving up any rights that Pravisha Technologies Pvt. Ltd may have (such as taking action in the future). If it turns out that a particular term is not enforceable, this will not affect any other terms.
</p>
<h5>
20. WAIVER.
</h5>
<p>
No waiver by Pravisha Technologies Pvt. Ltd of any right under or term or provision of these Terms and Conditions will be deemed a waiver of any other right, term or provision of these Terms and Conditions at that time or a waiver of that or any other right, term or provision of these Terms and Conditions at any other time.
</p>
<h5>
21. LANGUAGE.
</h5>
<p>
It is at the express consent of the parties that the present agreement be written in English.
</p>
<br><br>
</div>
</div>

</section>