
.login-wrapper {
	
	margin:0 auto;
	top:50%;
	left:50%;
	position:absolute;
	margin-left:-80px;
	margin-top:-40px; 
}
.auth-padding {
	padding:10px;
}
.login-wrapper .panel-heading {
	height:40px !important;
	
}
.login-wrapper .panel-heading .content {
	padding:10px;
}
.copyText {
	
	font-size:0.8em;
	margin:2%;
}
/*
.css-form input.ng-invalid.ng-dirty {
    background-color: #64171B;
  }
*/
/*
  .css-form input.ng-valid.ng-dirty {
    background-color: #78FA89;
  }
  */