.navbar .nav>li>a.brand {
    padding-left:20px;
    margin-left:0
}
.navbar {
	margin-bottom:0;
}
/*
.navbar-brand {

	color: #d9534f;
	font-family:FontAwesome;
	font-size:1em;
	
}
*/	
#inlineform {
	width:150px;
}
#titleMessage {
	margin-left:250px;
	padding-top:15px;
	padding-bottom:15px;
}
.navbar-nav > li {
	color: #999999
	
}
.navbar-nav > li > a {
	
	color: #999999
}
/*
.navbar-nav > li {
		color:rgb( 0, 51, 102);
}
.navbar-default .navbar-nav > li > a {
	color:rgb( 0, 51, 102);
	
}
*/

.dropdown-menu {
	
	min-width: 80px;
}


.introcontroller {
	position:relative;
	
	background-color: #4D95CE;
	border-top: 1px solid #4D95CE;
	border-bottom: 1px solid #4D95CE;
	
	/*background: linear-gradient(to bottom, rgba(0,157,158,1) 0%,rgba(0,157,158,1) 100%);*/
	width:100%
	color: #fff;
	text-shadow: none;
}

#dc-posts-chart-small g.y {

    display: none;


}

#sidebar {
    position: fixed;
    top: 5em;
    right: 0em;
    
}
/*
#stickyChart {
	position:fixed;
	width:50%;
}*/
#datacount {
	position:static;
}
/*
footer {
    position:fixed;
    left:0px;
    bottom:0px;
   	z-index:-1;
    width:100%;
    background-color:#a09f9f;
   
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black
}
*/

.footer{

background: #222;
padding: 10px 0 10px 0;


}
footer ul {
	list-style:none;
}
footer li {
	list-style:none;
}
footer .menu {
	
	color: #fff;
	font-weight: 700;
	margin-bottom: 20px;
}
footer  .item {
	color: #B8B8B8;
	font-size: 15px;
	line-height: 28px;
	text-decoration: none;
}
footer .item .icon {
width: 15px;
text-align: left;
margin: 0 10px 0 0;
display: inline-block;
}
.footer a:hover {
color: #fff;
}
.footer .rights {
	font-size:0.7em;
	display:block;
	line-height:2em;
	
} 
.footerlast {
position: absolute;
height: 15px;
left: 0;
right: 0;
bottom: -15px;
background: #222;
}



.text {
	font-size:0.8em;
	
}
.authimg {
 width:21px;
 height:21px;

}
/*
body {
min-height: 100%;
background-color: #121416;
background-image: -moz-linear-gradient(top, #060606, #252a30);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#060606), to(#252a30));
background-image: -webkit-linear-gradient(top, #060606, #252a30);
background-image: -o-linear-gradient(top, #060606, #252a30);
background-image: linear-gradient(to bottom, #060606, #252a30);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF060606', endColorstr='#FF252A30', GradientType=0);
}

*/

.bodycheck {
			
			
			/* below lines for dark theme */
			font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
			line-height: 1.42857143;
			color: #888888;
			background-color: #fff;

			font-size: 1.5em;
/*			color:#333333;*/
			
			height:100%;
			width:100%;
			/*
			background-color:#f9f9f9;
			/*background:rgb(255, 255, 255);*/
			/*background: #eeeeee;*/
			/*background:url("/img/images/037.jpg") repeat scroll 0% 0% transparent;*/

}

/*
.navbar-brand {

background: url(../img/images/logo_png.png) no-repeat left center;
  height: 50px;
  width: 150px;
}
*/
.introjs-tooltip {
	max-width:400px;
}
.imgclass{
	border-radius: 5px 5px 0px 0px;
}

.navbar-default {
    background: none repeat scroll 0% 0% rgb(255,255,255);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}
.navbar-fixed-top {
    top: 0px;
    z-index: 1030;
}

.introsection {
	
	
}
.introfooter{
	
	height: 200px;
	
	float: left;
}
.introfooter h1 {
	display: block;
	width: 100%;
	text-align: left;
	font-size: 60px;
	font-weight: 700;
	color: #fff;
	line-height: 36px;
	margin-top: 10px;
	margin-bottom: 0px;
}

.introheader {
	margin-top:10%;
	height: 500px;
	width:90%;
	float: left;
}
.introheader h1 {
	display: block;
	width: 100%;
	text-align: left;
	font-size: 30px;
	font-weight: 600;
	color: #fff;
	line-height: 36px;
	margin-top: 50px;
	margin-bottom: 0px;
}
.introheader h2 {
	

	font-size: 16px;
	color: #fff;
	text-align: left;
	margin-top: 24px;
	line-height: 24px;

}
.introheader h1 span {
	font-size: 24px;
	color: #d9ecf4;
}

.intropic {
	float: left;
	max-height: 400px;
	margin-top:5%;
	text-decoration: none;
}
.introaction {
	
	margin-top: 40px;
	width:80%;
}
#intro {
	background-color:#4D95CE;
}
.feature {
	
	
	width:100%;
	float: left;
	background-color:#f5f5f5;
	
	margin-bottom:10%;
	
}
.featurewrap {
	
	margin-top:5%;
	
}
.feature span {
	padding-left: 30%;
	color:#BE2F2F;
	
}

.feature h1 {
	display: block;
	padding-left:5%;
	width: 100%;
	text-align: left;
	font-size: 30px;
	font-weight: 500;
	color: #d9534f;
	line-height: 36px;
	margin-top: 10px;
	margin-bottom: 0px;
}

.feature h2 {
	
	color: #2d2d2a;
	font-weight: 400;
	width: 100%;
	text-align: left;
	font-size: 13px;
	
	letter-spacing:.01em
	
}
.searchbar {
    margin-top:50px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1em;
    font-weight: 200;
    line-height: 2.14286;
    color:rgb( 0, 51, 102);
    
    
}

.fix_action{
	position:absolute;
	width:40px;
	height:40px;
	left:120px;
	top:0px;
	background: url('/img/images/pin.png') no-repeat;
	display: none;
}

.zoom {
	display:block;
	position:absolute;
	width:30px;pull-right
	height:31px;
	left:0px;
	top:0px;
	background: url('/img/images/zoom.png') no-repeat scroll left center transparent;
	
	
}
.imgreply {
display: block;
float:left;

width:20px;
height:15px;
background: url('/img/images/sprite.png') 0 0 no-repeat;
}

.imgretweet {
display: block;
float:left;


width:20px;
height:15px;
background: url('/img/images/sprite.png') -20px 0px  no-repeat;
}

.imgfavourite {
display: block;
float:left;


width:20px;
height:15px;
background: url('/img/images/sprite.png') -40px 0px no-repeat;
}

.clickcursor {
	padding-left:3px;
	cursor: hand;
	cursor: pointer;
}

.img-responsive {
      height: 100%;
	width:100%;
}
/*
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: rgb( 0, 51, 102);
    background-color: #ACD1E9;
}


.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: rgb( 0, 51, 102);
    background-color: transparent;
}
*/
.clear{
}




.loading {
	pull-right
  position: relative;
  left:100px;
  top:50px;
  margin-left:100px;
  /*background: url('../img/loaders/loader.gif');*/
  display:block;
}


.results {
	margin-top:2px;
	max-width: 30em;
}

.results .result {

    margin-bottom: 0px;

}
.result {

    margin-bottom: 0px;
   

}


.result .box {
    margin-left: 38px;
    transform: translate3d(0,0,0); 
    background-color: #FFF;
}

.result .box .title {

    display: inline;
    font-weight: normal;
    margin: 0px;
 	font-size: 1.2em;

}

.result .box .desc {
    color: rgb(102, 102, 102);
    font-size: 1em;
    width:auto;
    max-width:90%;
    clear: both;
}

.reuslt .box .desc > p {
    display: block;
    margin: 0px 0px 1.5em;
    line-height: 1.25em;
    float:right;
    font-size: 1em;
}

.result .box .info {
    color: rgb(102, 102, 102);
    font-size: 1em;
    clear: both;
    padding-top:2%;
}
.result .box .date {
	font-size:0.8em;
}
.reuslt .box .info > p {
    display: block;
    margin: 0px 0px 1.5em;
    line-height: 1.25em;
    float:right;
    font-size: 1em;
}
.clearfix {
    display: block;
}


.sentimentbox {
	position:relative;
	font-size: 0.8em;
	margin-top:10px;
	max-width:30em;

	
}

.resultcontainer {
	margin-top:20px;
	
}
.dc-table-column._3 {
max-width:30%; /* Give whatever width you want */
word-wrap:break-word;
word-break:break-all;

}

.containerShift1 {
      
      position: relative;
     
     
    
    }

.containerShift1 > div {
      position: relative;
      height: auto;
      max-width:300px;
      min-width:300px;
      
		border:1px solid #bcc2d0; 
		float:left;
		background:#fff;
		 margin-bottom:20px;
		box-shadow:rgba(63,63,63,0.35) 0px 2px 5px;
		-moz-box-shadow:rgba(63,63,63,0.35) 0px 2px 5px;
		-webkit-box-shadow:rgba(63,63,63,0.35) 0px 2px 5px;
		-o-box-shadow:rgba(63,63,63,0.35) 0px 2px 5px;
	 }

.containerShift1 > div[data-ss-colspan='2'] { min-width: 300px; max-width: 900px;width:900px;}
.containerShift1 > div[data-ss-colspan='1'] { min-width: 300px; max-width: 900px;}

.containerShift1 > .ss-dragged-child {
    cursor: move;
    z-index: 9999;
    opacity: .7;
   
    transform:rotate(0deg);
    -ms-transform:rotate(0deg); /* IE 9 */
    -moz-transform:rotate(0deg); /* Firefox */
    -webkit-transform:rotate(0deg); /* Safari and Chrome */
    -o-transform:rotate(0deg); /* Opera */
   
  }

.containerShift1 > .ss-placeholder-child {
      background: transparent;
      border: 1px dashed blue;
    }


.dragger{
	position:relative;
	width:40px;
	height:40px;
	
	top:0px;
	background: url('/img/images/drag.png') no-repeat;
	
}

.intro{
	position:relative;
	width:400px;
	height:150px;

	background: url('/img/images/arrow.png') 0px -120px  no-repeat;
	
}
.bodycheck .intro-text {
   color: black;
  line-height: 25px;
  font-weight: 200;
  letter-spacing: .01em;
  
}

.hue {
	color: #d9534f;
}	
.chart{
     
                
		border:1px solid #fff; 
		float:left;
		/*background:#fff;*/
		background:#fff;
		margin-bottom:10px;
		border-radius: 4px;
		padding:19px;
		box-shadow:rgba(63,63,63,0.35) 0px 2px 5px;
		-moz-box-shadow:rgba(63,63,63,0.35) 0px 2px 5px;
		-webkit-box-shadow:rgba(63,63,63,0.35) 0px 2px 5px;
		-o-box-shadow:rgba(63,63,63,0.35) 0px 2px 5px;
		
	 }
#wordcloud {
	margin-left:10px;
	margin-top:100px;
}

#dc-posts-chart-small,#dc-posts-chart {
	min-width:100%;
}

#dc-sentiment-chart,#dc-source-chart {
	min-width:50%;
}
#dc-data-table-wrapper {
	max-width:100%;
}
.animation.ng-enter,
.animation.ng-leave{
  -webkit-transition: 1s;
}

.animation.ng-enter {
  opacity: 0;
}

.animation.ng-leave {
  opacity: 1;
}

.animation.ng-enter.ng-enter-active {
  opacity: 1;
}

.animation.ng-leave.ng-leave-active {
  opacity: 0;
}

.animation {
  -webkit-transition:0.5s linear all;
  -moz-transition: 0.5s linear all;
  -ms-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition:0.5s linear all;
  
  opacity:1;
}

.animation.ng-hide {
  opacity:0;
  
}

.animation.ng-hide-add, .animation.ng-hide-remove {
  /* this needs to be here to make it visible during the animation
     since the .ng-hide class is already on the element rendering
     it as hidden. */
  display:block!important;
}



.back-to-top {
    position: fixed;
    bottom: 5em;
    right: 10px;
    text-decoration: none;
    color: #000000;
    background-color: rgba(235, 235, 235, 0.80);
    //background-color:black;
    font-size: 12px;
    padding: 1em;
    display: none;
}

.back-to-top:hover {    
    background-color: rgba(135, 135, 135, 0.50);
}

#status {
	position: fixed;
    top: 5em;
    right: 0px;
    z-index: 9999;
}



/*
::-webkit-scrollbar
{
  width: 12px; 
  height: 12px; 
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}
*/

.unsupportedmessage {
	margin: 40px auto 0 auto;
	width: 340px;
	border: solid 1px #eaeaea;
	padding: 25px 30px;
	text-align: center;
}
.unsupportedmessage p {
margin: 0 0 3px 0;
display:block;
font-size: 16px;
color: #333;
}
.unsupportedmessage span {
color: #888;
font-size: 14px;
}
.unsupportedmessage a {
text-decoration: none;
}

.capitalize {
	text-transform:capitalize;
}

/* remove the ugly arrow in firefox */
select {
   
   -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
}
/*remove the ugly inner dotted lines
select:-moz-focusring {
	color: #000;
    color: rgba(0,0,0,0);
    text-shadow: 0 0 0 #000;
}
*/

.introjs-helperLayer {
	background-color: transparent;
}

.introjs-tooltip {
	background-color:#202020;
	color:#fff;
}

.introjs-arrow.top {
	border-bottom-color:#202020 !important;
}

.introjs-arrow.right {
	border-left-color:#202020 !important;
}

.introjs-arrow.left {
	border-right-color:#202020 !important;
}
.introjs-arrow.bottom {
	border-top-color:#202020 !important;
}