@media(max-width:768px){
	.hidden-phone{display:none !important}
	.fa-2x {font-size:1em !important}
	aside.theme1 .main-menu>ul>li>a .menu-hover {
		
		box-shadow: 0 0 2px 0 #fff !important;
		-moz-box-shadow: 0 0 2px 0 #fff !important;
		-webkit-box-shadow: 0 0 2px 0 #fff !important;
		width:1px !important;
	}
	#dashboardwrap.sidebar-mini aside .sidebar-inner .main-menu>ul>li {
		padding:0 0 !important;
		text-align: left !important;
	} 
	#dashboardcontainer {
		margin-top:15% !important;
	}

}
/*
@media(min-width:769px){
	aside.theme1 .main-menu>ul>li>a .menu-hover {
		display:none!important;
	}
}*/
/*
Background:
#1C1B2B
#bcc2d0;

border pie:#393841
*/

#diceitcontainer {
	padding-top: 6%;
}
#dashboardwrap {
	
	position: relative;
	overflow: hidden;
	
	/*min-height:800px;*/
	/*background-color: #f9f9f9;*/
	
}
#dashtopwrap{
	/*background:url("/img/images/bgNoiseHatch.png") repeat scroll 0% 0% transparent;
	background-color:black;*/
	
	background:  url("/img/images/b01.png") repeat scroll 0% 0% transparent;
	background-color:#151515;
	min-height:700px;
/*
	background-color:#f9f9f9;*/
	
}
#dashboardcontainer {
	margin-top:1%;
}
#topnavigator {
	height: 45px;
	padding-right: 10px;
	background-color: #fff;
	white-space: nowrap;
	min-width: 310px;
	border-bottom: 1px solid #f2f2f2;

}

#topnavigator.posfixed {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 999;
} 


#topnavigator.theme1 {
	background: #333;
	border-bottom: 1px solid #333;
}

#topnavigator .title {
	display: block;
	text-align: left;
	padding-left:5px !important;
	font-size: 17px;
	line-height: 45px;
	width: 150px !important;

	float: left;

}

#topnavigator.theme1 .title {
color: #999;
	

}

#topnavigator >  a {
text-decoration: none;
color: #555;
transition: color .2s ease;
-webkit-transition: color .2s ease;
-moz-transition: color .2s ease;
-ms-transition: color .2s ease;
-o-transition: color .2s ease;
}
#topnavigator > .title:hover {
color:#fff;
}

#topnavigator .notification {
	list-style: none;
	margin: 0;
	float: right;
	white-space: nowrap;
	font-size: 12px;
}

#topnavigator .notification > li {
display: block;
position: relative;
float: left;
transition: background .2s ease;
-webkit-transition: background .2s ease;
-moz-transition: background .2s ease;
-ms-transition: background .2s ease;
-o-transition: background .2s ease;
}

#topnavigator.theme1 .notification > li {
color: #BECFE0;
}

aside.theme1 {
	background: #495B6C;
}
aside.posfixed {
	position: fixed;
}
aside {
	position: absolute;
	display: block;
	float: left;
	width: 194px;
	z-index: 100;
	padding-top: 45px;
	bottom: 0;
	left: 0;
	background-color: #323447;
	height: 100%;
}


aside.theme1 .sidebar-inner {
border-right-color: #415160;
}
aside .sidebar-inner {
border-right: 1px solid #272938;
}

aside .main-menu {
	height: 100%;
	margin-top:50px;
	
}
aside .main-menu>ul {
	margin: 0;
	list-style: none;
	padding:0;
}

aside.theme1 .main-menu > ul > li.active, aside.theme1 .main-menu > ul > li.display {
border-top-color: #415160;
}

aside.theme1 .main-menu > ul > li {
border-top-color: #506274;
border-bottom-color: #415160;
}

aside .main-menu>ul>li.active {
border-top: 1px solid #323447;
transition: all .5s ease;
-webkit-transition: all .5s ease;
-moz-transition: all .5s ease;
-ms-transition: all .5s ease;
-o-transition: all .5s ease;
}


aside .main-menu>ul>li {
	position: relative;
	border-top: 1px solid #34364a;
	border-bottom: 1px solid #2c2d3e;
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
}
#dashboardwrap.sidebar-mini aside {
	width: 8%;
	
	
}

/*#DCE0F0 color for charts*/
#dashboardwrap.sidebar-mini aside .sidebar-inner .main-menu>ul>li>a {
text-align: center;
font-size: 11px;
padding: 13px 10px;
text-decoration:none;
}
aside .main-menu>ul>li.active>a {
color: #fff;
background: #2c2d3e;
box-shadow: 0 0 3px rgba(0,0,0,.15)inset;
-moz-box-shadow: 0 0 3px rgba(0,0,0,.15)inset;
-webkit-box-shadow: 0 0 3px rgba(0,0,0,.15)inset;
}

aside.theme1 .main-menu > ul > li.active > a, aside.theme1 .main-menu > ul > li.display > a {
background: #415160;
color: #fff;
}
aside .main-menu>ul>li>a {
	position: relative;
	display: block;
	color: #e6f1f7;
	font-size: 13px;
	padding: 13px 10px 13px 13px;
	text-shadow: 0 1px 1px rgba(0,0,0,.05);
	transition: color .5s ease,background .5s ease;
	-webkit-transition: color .5s ease,background .5s ease;
	-moz-transition: color .5s ease,background .5s ease;
	-ms-transition: color .5s ease,background .5s ease;
	-o-transition: color .5s ease,background .5s ease;
}


aside .main-menu>ul>li>a .text1 {
	margin-left: 10px;
}
#dashboardwrap.sidebar-mini aside .sidebar-inner .main-menu>ul>li>a .menu-icon {
display: block;
}

#dashboardwrap.sidebar-mini aside .sidebar-inner .main-menu>ul>li>a .text1 {
display: block;
margin-top: 5px;
margin-left: 0;
}
#dashboardwrap.sidebar-mini aside .scroll {
overflow: visible!important;
}

#dashboardwrap.sidebar-mini aside .sidebar-inner {
overflow: visible!important;
}

aside.theme1 .main-menu > ul > li > a .menu-hover {
	/*background: #feffd8;*/
	background:rgb(194, 255, 0);
	box-shadow: 0 0 10px 0px #ffffff;
	-moz-box-shadow: 0 0 10px 0px #ffffff;
	-webkit-box-shadow: 0 0 10px 0px #ffffff;
}
aside .main-menu>ul>li.active .menu-hover {
	opacity: 1;
}
aside .main-menu>ul>li>a .menu-hover {
	position: absolute;
	background: #feffd8;
	box-shadow: 0 0 20px 0 #fff;
	-moz-box-shadow: 0 0 20px 0 #fff;
	-webkit-box-shadow: 0 0 20px 0 #fff;
	opacity: 0;
	top: -2px;
	bottom: -2px;
	left: 0;
	width: 3px;
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
}

#topnavigator.theme1 .notification > li.open {
  background: #415160;
}
#topnavigator.theme1 .notification > li:hover {
  background: #415160;
}
#topnavigator.theme1 .notification > li > a {
  color: #BECFE0;
}
#topnavigator.theme1 .notification > li > a:hover,
#topnavigator.theme1 .notification > li > a:focus {
  color: #fff;
}

.searchbardash {
margin:10px 0 0 0;
float: left;


 
}

.searchbardash  input[type="text"],.searchbardash .btn {
background: #fff;
color: black;

}
.searchbardash  input[type=text] {
border-color: #dfdfdf;
border: 1px solid #272938;
box-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
}
.searchbardash .btn {
color: #ccc;
border-color: #dfdfdf;
border: 1px solid #272938;
}
/*
#dashboardwrap.sidebar-mini #searchsummarycontainer,#profilesummarycontainer, #dashboardwrap.sidebar-mini footer {
margin-left: 5%;
padding-top:6%;
min-height: 800px;
}
*/
.padding-md {
	padding: 20px!important;
}


.chartbox {
	text-align: center;
	padding:10px;
	

	
	background: #333;
	


	color: #ccc;
	/*
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #ededed;/*#ededed;*/
	
}

.chartbox .easyPieChart {
position: relative;
margin: auto;
font-size: 75%;
width: 50px;
height: 50px;
line-height: 50px;
}
.chartbox .easyPieChart canvas
{
	position:absolute;top:0;left:0;
	height: 50px;
	width:50px;
	
}
.chartbox .guagePieChart {
position: relative;
margin: auto;
font-size: 1.7em;
width: 100%;
height: 100%;
line-height: 110px;
}
.chartbox .text2 {
	padding-top: 10px;
	font-weight: 500;
	font-size: 1.5em;
	margin: 0 0 10px;
}

.positiveC {
	color:#B3DE69;
	
}

.negativeC {
	color:#FB8072;
	
}

.neutralC {
	color:#7282fb;
	
}
.arrow {
width: 0;
height: 0;
border-top: 7px solid transparent;
border-bottom: 7px solid transparent;
border-right: 7px solid #fff;
position: absolute;
right: -1px;
top: 40%;
z-index: 10;
}




.bg-primary {
background-color: #13A89E!important;
color: #ecf0f1!important;
}


.fadeInUp {
-webkit-animation-name: fadeInUp;
animation-name: fadeInUp;
}

.animated {
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}



.lead {
margin-bottom: 10px;
}
@media (min-width: 768px)
.lead {
font-size: 21px;
}

.lead {
margin-bottom: 20px;
font-size: 16px;
font-weight: 200;
line-height: 1.4;
border-bottom: 1px solid rgba(0,0,0,.1);
}

.list-percentages {
margin: 0 0 15px;
padding: 0;
list-style: none;
position: relative;
width: 100%;
border-bottom: 1px solid rgba(0,0,0,.1);
}
.list-percentages li:first-child {
border-left: 0;
}

.list-percentages li {
list-style: none;
position: relative;
margin: 0;
padding: 10px 0;
border-left: 1px solid rgba(0,0,0,.1);
text-align: center;
}

.text-ellipsis {
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
.text-lg {
font-size: 1.2em!important;
}

.animated {
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}


.widget-header {
border-bottom: solid 1px rgba(0,0,0,0.8);
box-shadow: 0 1px #1f2225;
	height: 28px;
	line-height: 28px;
	cursor: move;
	text-transform: uppercase;
}

.widgetview-box {
	display: block;
	padding: 4px;
	margin-bottom: 20px;
	line-height: 1.42857143;
	background-color: #060606;
	border: 1px solid #dddddd;
	border-radius: 4px;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	min-height:20px;
}
 .lvl-over {
    border: 1px dashed blue !important;
  }
 /*
  .lvl-target {
    background-color: #ddd; 
    opacity: .5;
  }
 */
  [draggable] {
    cursor: move;
    -moz-user-select: none;
				-khtml-user-select: none;
				-webkit-user-select: none;
				user-select: none;
  }
  
  #metricsdrop .form-control {
  	
  	min-height:60px;
  	height:auto;
  	
  }
