/*! gridster.js - v0.2.1 - 2013-10-28
* http://gridster.net/
* Copyright (c) 2013 ducksboard; Licensed MIT */

.gridster {
	position: relative;
	margin: auto;
	/*background: rgba(0, 0, 0, .1);*/
	height: 0;
}

.gridster-loaded {
	-webkit-transition: height .3s;
}

.gridster-loaded {
    -moz-transition: height .3s;
    -o-transition: height .3s;
    transition: height .3s;
}

.gridster ul {
	margin: 0;
	list-style: none;
	padding: 0;
}

.gridster .gridster-item {
	-webkit-box-sizing: border-box;
}

.gridster .gridster-item {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	list-style: none;
	/*text-align: center;*/
	list-style: none;
	z-index: 2;
	position: absolute;
	display: none;
}

.gridster-loaded .gridster-item  {
	display: block;
}

.gridster-loaded .gridster-item {
	-webkit-transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
}

.gridster-loaded .gridster-item {
    -moz-transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
    -o-transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
    transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
}

.gridster-mobile .gridster-item {
	position: static;
	float: none;
}

.gridster .gridster-preview-holder {
	display: none;
    z-index: 1;
    position: absolute;
    background-color: #fff;
    border-color: #fff;
    opacity: 0.2;
}

.gridster .gridster-item-moving,
.gridster .gridster-preview-holder {
	-webkit-transition: opacity 0s, left 0s, top 0s, width 0s, height 0s;
}

.gridster .gridster-item-moving,
.gridster .gridster-preview-holder {
    -moz-transition: opacity 0s, left 0s, top 0s, width 0s, height 0s;
    -o-transition: opacity 0s, left 0s, top 0s, width 0s, height 0s;
    transition: opacity 0s, left 0s, top 0s, width 0s, height 0s;
}

.gridster .gridster-item-moving {
	z-index: 3;
}
