

.gridster .gridster-item {
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	overflow:hidden;
	
}

.gridster .gridster-item {
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	/*color: #004756;*/
}

/*
.gridster .gridster-item {
	background: #000;
	padding: 10px;
}
*/
