.timeline {
position: relative;
padding-left: 10px;
margin-bottom: 20px;
}
/*
.timeline:before {
content: '';
display: block;
position: absolute;
left: 40px;
top: 0;
bottom: 0;
border: solid #ccc;
background-color: #ccc;
width: 4px;
}
*/
.timeline .eventinfo {
position: relative;
float: left;
width: 65px;
text-align: center;

}

.timeline .eventsourceimg {
width: 40px;
height: 40px;
text-align: center;
border-radius: 50em;
-moz-border-radius: 50em;
-webkit-border-radius: 50em;
margin: 0 auto;
font-size: 20px;
line-height: 40px;
}

.timeline .eventtime {
margin-top: 10px;
background: #ccc;
border: 1px solid #ccc;
padding: 5px;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
color: #333;
box-shadow: 1px 1px 1px rgba(0,0,0,.05);
-moz-box-shadow: 1px 1px 1px rgba(0,0,0,.05);
-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.05);
font-size:0.80em;
}
.timeline .round {
	
background-color: #ccc;
text-shadow: 0 1px #333;

}
.timeline .timelinebox {
background: #333;
/*margin-left: 75px;*/
border: 1px solid #333;
}


#packed text {
  font: 10px sans-serif;
}

#packed circle {
        /*stroke: white;
        stroke-width: 2px;*/
        opacity: .8;
}

#packed .label {
        fill: white;
        font: 16px sans-serif;
        
        
 }
.popover.top .arrow {
	top:100%;
}
/*
#insightsummarycontainer {
	padding-top:5%;
	margin-left:6%;
}
*/	