@charset "utf-8";
/* CSS Document */
h1 {
	text-align: center;
}
#advantages {
	background: #3E6D92;
	color: #fff;
	padding: 40px 0;
}
#pricing {
	background: #2C3E50;
	color: #fff;
	padding: 40px 0;
}
#contact {
	padding: 40px 0;
}
#advantages h1, #pricing h1 {
	color: #fff !important;
}
.jumbotron .hero {
	padding-right: 0;
}

.animate {
	-webkit-animation: fadein 1s; /* Safari and Chrome */
	-moz-animation: fadein 1s; /* Firefox */
	-ms-animation: fadein 1s; /* Internet Explorer */
	-o-animation: fadein 1s; /* Opera */
	animation: fadein 1s;
}
.animatenext {
	-webkit-animation: fadein 3s; /* Safari and Chrome */
	-moz-animation: fadein 3s; /* Firefox */
	-ms-animation: fadein 3s; /* Internet Explorer */
	-o-animation: fadein 3s; /* Opera */
	animation: fadein 3s;
}

.animatenextnext {
	-webkit-animation: fadein 5s; /* Safari and Chrome */
	-moz-animation: fadein 5s; /* Firefox */
	-ms-animation: fadein 5s; /* Internet Explorer */
	-o-animation: fadein 5s; /* Opera */
	animation: fadein 5s;
}

#landingpage .hidden-xs {
	float: right !important;
}
.navbar-brand {
	font-size: 36px !important;
	font-weight: 600;
}

 @media (min-width:768px) {
.pricingBlock {
	width: 28% !important;
	display: inline-block;
	vertical-align: top;
	margin: 18px !important;
}
.marketing .col-lg-4 {
	float: left;
	width: 32%;
}
.footer .col-lg-4 {
	width: 32%;
	float: left;
}
.jumbotron .hero-content {
	width: 50%;
}
.jumbotron .hero-content .input-group {
	width: 100%;
	-webkit-box-shadow: 0 5px 5px rgba(0,0,0,.5);
	box-shadow: 0 2px 5px rgba(0,0,0,.5);
}
.iconBig {
	font-size: 50px;
}
.jumbotron h1, .jumbotron .h1 {
	font-size: 50px !important;
}
}
@media (min-width:992px) {
.footer .col-lg-4 {
	width: 32%;
	float: left;
}
}
@media (min-width:1200px) {
.footer .col-lg-4 {
	width: 32%;
	float: left;
}
.iconBig {
	font-size: 66px;
}
}
.boxFeature {
	margin-bottom: 33px;
	text-align: left;
}
.boxFeature .glyphicon {
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1.5em;
	margin-left: 0.2em;
	margin-right: 0.2em;
	text-align: center;
	text-decoration: inherit;
	text-transform: none;
	width: 1em;
	color: #4FAFC2;
}
#features  h1 {
	margin: 0 0 50px;
	text-transform: uppercase;
	color: #4FAFC2;
}
@media (max-width:767px) {
#landingpage .input-group-addon {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.hero-content .btn:first-child {
	margin-right: 10px !important;
}
.footer .col-lg-4 {
	width: 100%;
	float: none;
}
.footer .footer-menu {
	text-align: center;
}
.footer .container {
	width: 100%;
}
.footer .glyphicon, .pricingBlock .glyphicon {
	font-size: 15px;
}
.jumbotron .hero-content .input-group {
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
.pricingBlock {
	width: 90% !important;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
}

#advantages .glyphicon {
	font-size: 50px;
}




#landingpage .hidden-xs {
	display: none!important
}
#landingpage .btn-lg {
	margin-bottom: 20px;
}
.jumbotron .hero-content {
	width: 100%;
}
.jumbotron .hero-content h2 {
	font-size: 28px;
}
.jumbotron .hero-content .input-group {
	width: 100%
}
}
/* footer classes */
.footer {
	background: none repeat scroll 0 0 #222222;
	padding: 40px 0 30px;
	position: relative;
	display: inline-block;
	width: 100%;
}
.footer .container {
	margin: 0 auto;
}
.footer-menu {
	text-align: left;
}
.footer-menu li {
	list-style: none;
	margin-bottom: 4px;
	color: #B8B8B8;
	line-height: 28px;
}
.footer-blog-text {
	display: none;
}
.footer-menu {
	margin-bottom: 40px;
}
.footer-menu li.footer-section-title {
	color: #fff;
	font-weight: 700;
	margin-bottom: 20px;
}
.footer-menu a {
	color: #B8B8B8;
	font-size: 15px;
	line-height: 28px;
	text-decoration: none;
}
.footer-menu a:hover, .footer-menu li:hover {
	color: #fff;
}
.footer-menu i {
	display: inline-block;
	margin: 0 10px 0 0;
	text-align: left;
	width: 15px;
}
.default-cursor {
	cursor: default !important
}
/*recognition classes */

#recognition {
	padding: 40px 0;
	border-bottom: 1px solid #d4d4d4;
}
#recognition .container {
	max-width: 970px;
	margin: 0 auto;
	font-size: 24px;
	color: #777;
	text-align: center;
	float: none;
}
#recognition img {
	-webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
/*contact form classes */

#landingpage .form-container {
	max-width: 575px;
	margin: 0 auto;
	padding: 0 20px;
}
#contact {
	background: #f2f2f2;
}
#contact label {
	clear: both;
	float: left;
}
#contact .textfield {
	line-height: 1.2em;
	font-size: 1em;
	font-weight: normal;
	width: 100%;
	height: 40px;
	padding: 5px;
	border: 1px solid #666;
	clear: left;
	float: left;
	margin-bottom: 25px;
	-webkit-box-shadow: 2px 2px 5px rgba(0,0,0,.3);
	box-shadow: 2px 2px 5px rgba(0,0,0,.3);
}
#contact .error-field {
	border: 1px solid #ff0000 !important;
}

#landingpage textarea {
	height: 100% !important;
}
#landingpage .btn-container {
	float: left;
	clear: both;
}
sup {
	top: 5px;
	display: inline-block;
}
/* Pricing classes */

.pricing-container {
	padding: 0 20px;
	max-width: 970px !important;
	margin: 0 auto !important;
}
.pricingBlock {
	width: 29%;
	margin: 0 20px;
	padding: 0;
	border: 1px solid #495B6D;
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,.5);
	box-shadow: 0 2px 5px rgba(0,0,0,.5);
}
.pricingBlock h2 {
	color: #4FAFC2;
	background: #495B6D;
	padding: 15px 0;
	margin: 0;
}
.pricingBlock ul {
	margin-top: 10px;
	list-style: none;
	text-align: left;
}
.pricingBlock ul li {
	padding: 10px 0;
}
.pricingBlock ul li i {
	margin-right: 10px;
}
.hero-content p {
	margin-top: 40px;
	min-height:50px;
}
.hero-content .btn:first-child {
	margin-right: 20px;
}
.hero-content .btn {
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.5);
	box-shadow: 0 2px 5px rgba(0,0,0,.5);
}
.hero-content .btn i {
	margin-left: 5px;
	font-size: 18px;
}
/* save for later
	input:invalid { 
    -moz-box-shadow: 0px 0px 5px #ff0000 !important; 
 -webkit-box-shadow: 0px 0px 5px #ff0000 !important; 
         box-shadow: 0px 0px 5px #ff0000 !important;
}
*/
.jumbotron {
	padding: 30px;
	margin-bottom: 60px;
	color: #fff;
	background-color: #4FAFC2;
	background-image: url(/img/images/sentiks-blue.jpg);
	display: inline-block;
	width: 100%;
	background-position: -80px -200px;
}
.jumbotron h1, .jumbotron .h1 {
	color: inherit;
	text-align: left;
	text-shadow: 2px 2px 2px #1E496B;
}
.marketing {
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}
.marketing .glyphicon {
	color: #fff;
	text-shadow: 3px 3px 3px #1E496B;
}
.marketing .col-lg-4 {
	text-align: center;
	margin-bottom: 20px;
}
.marketing .col-lg-4 img {
	margin-bottom: 15px;
}
.marketing .row {
	margin-left: 0;
	margin-right: 0;
}
.jumbotron .hero-image {
	max-width: 100%;
	height: 100%;
	float: right;
}
.jumbotron .hero-content {
	display: inline-block;
}
.jumbotron .hero-content .input-group {
	margin-top: 30px;
	background: #fff;
	border-radius: 4px;
}
.jumbotron .hero-content .input-group input[type='text'] {
	width: 90%;
	height: 50px;
	float: left;
	font-size: 18px;
}
.jumbotron .hero-content .input-group button {
	width: 10%;
	height: 50px;
	float: left;
}
.jumbotron .hero-content .input-group button .glyphicon {
	font-size: 18px;
}
.container .jumbotron {
border-radius:0 !important;

}

.navbar-wrapper {
	min-height: 70px !important;
}
/*
.btn-primary {
	background-color: #4FAFC2;
}
*/
