@media(max-width:768px){

	.dashboard-widget-area {
		margin-top:15% !important;
	}

}

#masterdashboardcontainer{

	background:  url("/img/images/b01.png") repeat scroll 0% 0% transparent;
	background-color:#151515;
	min-height:2000px;
}
#topnavigator.posfixed {
	position: fixed;
	left: 0;
	right: 0;
	top:0;
	z-index: 999;
}
#topnavigator .actions {
	list-style: none;
	margin: 0;
	padding:8px;
	float: left;
	white-space: nowrap;

	color:#ccc;
}

#topnavigator .actions > li {
display: block;
position: relative;
float: left;
padding-left:15px;
cursor:pointer;

}
#topnavigator .actions > li .topicon {
padding-top:8px;

}

#topnavigator.theme1 .actions > li > a {
  color: #BECFE0;
}
#topnavigator.theme1 .actions > li > a:hover,
#topnavigator.theme1 .actions > li > a:focus {
  color: #fff;
}


.panel {
margin-bottom: 20px;
background-color: #333;
position: relative;

border: 1px solid transparent;

border-bottom-width: 2px;
color:#ccc;
border-radius: 0px;
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-body {
padding: 15px;
overflow:hidden;
font-size:0.80em;
}

.panel .panel-actions-fly {
position: absolute;
top: 15px;
right: 20px;
z-index: 9;
}
.panel .action,.panel-heading .action {

cursor: pointer;
padding:5px;

}

.panel-heading {
	background-color:#333 !important;
	background:#333 !important;
	border-bottom: solid 1px rgba(0,0,0,0.8) !important;
	color:#ccc !important;
	border-color:#000 !important;
	cursor:move !important;
	padding:0px;
	font-size:1em;
}

.panel-footer {
	background-color:#333 !important;
	background:#333 !important;
	border-top: solid 2px rgba(0,0,0,0.8) !important;
	color:#ccc !important;
	border-color:#000 !important;
	font-size:0.80em;
}

.panel-body .counters {

/*	height: 75px;*/

	text-align: center;
	vertical-align: top;
	margin-top:8%;
	overflow:hidden;
	border-top:solid 2px rgba(0,0,0,0.8) !important;

}
.panel-body .counters .box {
	padding-top:2%;

	display:inline-block;
}
.panel-body .counters .box .count {
font-size: 17px;
font-weight: bold;
margin-top: 5px;
margin-bottom: 12px;
}
.panel-body .counters .box .name {

}

.dashboard-widget-area {
    margin-top:6%;
    min-height:700px;
}

.widget-container {
    float:left;
    display: inline-block;
    /*min-width:350px;*/
    padding:10px;
}

.widget {

    position: relative;
    height: 100%;
}
.widget-header {
    overflow: hidden;
}
.widget-header .label {
    display: inline-block;
    vertical-align: middle;
}

.widget-content {

    overflow: hidden;
}
.widget-footer {
	overflow:hidden;
}
.widget .widget-ew-resizer {
    position: absolute;
    width: 5px;
    right: -2px;
    height:100%;
    top:0;
    cursor: ew-resize;
}

.widget .widget-resizer-marquee {
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
@media (max-width: 600px) {
	.configure-widget .modal-dialog {
 		width:90%!important;

	}

}
.configure-widget .modal-dialog {
 width:33%;

}
.widget-view .modal-dialog {
	width:90%;
}

/*
.modal.fade {

  left: 200%;
  -webkit-transition: opacity 1s linear, left 1s ease-out;
     -moz-transition: opacity 1s linear, left 1s ease-out;
       -o-transition: opacity 1s linear, left 1s ease-out;
          transition: opacity 1s linear, left 1s ease-out;
}

.modal.fade.in {

  left: 10%;
}
*/

.modal.fade .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
     transform: translate(0, 0);
}
.center {
	text-align:center;
}
