.nvtooltip {

  background-color: #181818 !important;
   -webkit-transition:0s linear all;
  -moz-transition: 0s linear all;
  -ms-transition: 0s linear all;
  -o-transition: 0s linear all;
  transition:0s linear all; 



}

.nvtooltip h3 {
  margin: 0;
  padding: 4px 14px;
  line-height: 18px;
  font-weight: normal;
  font-size:1em !important;
  background-color: #181818 !important;
  text-align: center;

  border-bottom: 1px solid #333 !important;;

  -webkit-border-radius:0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

.nvd3 .nv-axis .nv-axisMaxMin text {
font-weight: 300 !important;
font-size:0.85em !important;


}

svg text {
	fill:#ccc !important;
	font: 300 0.85em Arial;
}

