
.twitterC {
color:#00aced;
}

.facebookC {
color: #3b5998;
}

.youtubeC {
color: #bb0000;
}
.googleplusC {
color: #dd4b39;
}

.rssC {
color:#ee802f ;
}

.linkedinC {
color:	#007bb6;
	
}


     // Instagram Blue Hex: #517fa4
     //Pinterest Red Hex: #cb2027
     //Quora Burgundy Hex: #a82400
     //Flickr Pink Hex: #ff0084
     //Tmmblr Dark TurquoiseHex: #32506d
     //Vimeo GreenHex: #aad450
     //Foursquare Logo Blue Hex: #0072b1