

.tweettext {
	margin-top:10px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 10px;
    overflow: auto;
}
.foot,.tweettext .foot {
	
	padding-top:2%;
	
}
.tweettext {
	margin-top:10px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 10px;
    overflow: auto;
}
.username {
    padding-left: 10px;
    font-weight: bold;
    font-size: 12px;
}

.username_screen {
    font-size: 10px;
    color: #999;
}

.timeInterval {
	
    padding-top: 2px;
    padding-right: 20px;
    font-size: 10px;
    color:#999;
    text-align: right;
}
.img-rounded {
	float:left;
}
.thumbnail {
    padding-right: 5px;
    margin-top: 5px;
    width: 64px;
    height: 64px;
    max-width: 32px;
    max-height:32px;
    float: left;
}



#tweet-frame {
    margin-top: 10px;
    background-color: #EEE;
    padding-bottom: 5px;
}

.tweet {
    padding: 10px 10px 5px 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: #FFF;
    overflow: auto;
}

.toggleActive {
    background: #428bca;
    color: #fff;
    cursor: default;
}



