
.tab-content table {
 background:transparent;
}

.tab-content .col-icon {
	vertical-align:top;
	width:5%;
}
.tab-content .col-source {
 vertical-align:top;
 width:85%;
}
.tab-content .col-action {
 vertical-align:top;
 text-align:right;
 width:10%;
}
.tab-content .tab-pane .source-icon {
 padding-right: 5px;
 display:inline-block;
}

.source-name {
 display:inline-block;
 font-size:1.2em;
}

.source-desc {
 font-size:0.8em;
 padding-left:2px;
 padding-bottom:15px;
 color:#555;
}

.source-action {

}
