<div >

    <div class="text-center" ng-show="showConfigure">
    	<button class="btn btn-default" ng-click='openWidgetDialog(widget)'> Configure View</button>
    </div>
		<div ng-show="showWidgetError" class="alert alert-danger" >
						{{widgetErrorMsg}}
		</div>
	  <div ng-show="!showConfigure">

	    <div ng-include="includeGraph ? 'views/widgets/metrics/metric-graph.html' : null" ng-show="!showLoader"></div>
	    <img ng-src="../img/loaders/widget-loader.gif" class="loading" ng-show="showLoader" />
	    <div ng-include="includeDetails ? 'views/widgets/metrics/metric-details.html' : null"></div>
    </div>
</div>
