<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
 <small>Remove Dashboard</small>
</div>

<div class="modal-body">
	<div class="row">
		<div class="col-md-12 col-sm-4">
			<div class="alert alert-danger"> This will delete entire history of  {{dashboard.title}}. Please confirm to continue.</div>
		</div>
	</div>
	
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default btn-sm" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-danger btn-sm" ng-click="ok()">Remove</button>
</div>

