<div>
  <div id="topnavigator" class="posfixed theme1">
						<a href="#" class="title hidden-xs">
							<span>sentiks </span>
							<span class="text-toggle"> </span>
						</a>
						
						<ul class="actions">
							
							<li id="step5" class="dropdown btn-group ">
									  <button type="button"  class="btn btn-default btn-sm">{{dashboard.selected}}</button>
										  <button type="button" class="btn btn-default btn-sm dropdown-toggle" >
										    <span class="caret"></span>
										    <span class="sr-only"></span>
										  </button>
									   
									    	
									  <ul class="dropdown-menu">
									    <li ng-repeat="choice in dashboard.list">
									      <a ng-click="setCurrentDashboard( choice)">{{choice.title}}</a>
									    </li>
									  </ul>
								</li>
								
								<li >
								<span id="step1" tooltip-placement="bottom"  tooltip="Create a Widget" class="topicon glyphicon glyphicon-pushpin  " ng-click="addWidgetDefault($event);" ></span>
								</li>
								
								 <li  >
								     
									<span id="step2" tooltip-placement="bottom" tooltip="Add a Dashboard" ng-click="addDashboard($event);" class="topicon fa fa-dashboard" ></span> 
								 </li>
								 
								 <li>
								    	
								    <span id="step3" tooltip-placement="bottom" tooltip="Edit Dashboard" ng-click="editDashboard($event);" class="topicon fa fa-pencil"> </span>
								    	
								 </li>
								 <li >
								    	
						    		<span id="step4" tooltip-placement="bottom" tooltip="Remove Dashboard" ng-click="removeDashboard($event);" class="topicon fa fa-times"> </span>
								    	
								 </li>
								 <li >
								    	
						    		<span  tooltip-placement="bottom" tooltip="Mix & Match View" ng-click="launchView($event);" class="topicon fa fa-windows"> </span>
								    	
								 </li>
								   
								<!--
								<li> 
								<span tooltip-placement="bottom" tooltip="Export" class="topicon fa fa-download fa-1x " ng-click="export($event);"></span>
								</li>
								<li> 
								<span tooltip-placement="bottom" tooltip="TV Mode" class="topicon fa fa-desktop fa-1x " ng-click="changeMode($event);"></span>
								</li>
								-->
								
							
								
								<!--
								<li> 
								<span tooltip-placement="bottom" tooltip="Clear All Widgets" class="topicon fa fa-minus fa-1x " ng-click="clear();"></span>
								</li>-->
								
								
								
						</ul>
						<ul class="actions pull-right hidden-xs">
							
							<li class="dropdown btn-group pull-right">
								  <button type="button" class="btn btn-default btn-sm">{{global.data.user.name}}</button>
									  <button id="step6" type="button" class="btn btn-default btn-sm dropdown-toggle" >
									    <span class="glyphicon glyphicon-cog"></span>
									    <span class="sr-only"></span>
									  </button>
								   
								    	
								  <ul class="dropdown-menu">
								  	<!--
								    <li tooltip-placement="left" tooltip="Add a Dashboard" ng-click="addDashboard($event);">
								     
										<a><span  class="topicon fa fa-dashboard" ></span> </a>
										
										
										
									 
								    
								    </li>-->
								     <li tooltip-placement="left" tooltip="Help" ng-click="CallMe();">
									    <a><span   class="topicon fa fa-question"> </span></a>
								    </li>
								     <li tooltip-placement="left" tooltip="Logout" ng-click="logout($event);">
									    <a><span   class="topicon fa fa-power-off"> </span></a>
								    </li>
								    
								    <!--
								    <li tooltip-placement="left" tooltip="Logout" ng-click="logout($event);">
									    <a><span  class="topicon fa fa-power-off"> </span></a>
								    </li>
								    -->
								  </ul>
							</li>
						</ul>
						<!--
						<ul class="notification clearfix">
							<li class="user">
								<strong> Guest</strong>
							</li>
						</ul>
						-->
	</div>

    <div gridster="gridsterOpts" ng-model="widgets" class="dashboard-widget-area">
    	<ul>
    	
    <!--<div  ng-model="widgets" class=" dashboard-widget-area"></div>-->
    	
	     <li gridster-item="widget.dimensions" ng-repeat="widget in widgets"  class="widget-container" widget>
	     	 <!-- <div draggable  ng-repeat="widget in widgets"  class="widget-container panelheader  " widget>-->
	            <div  class="widget panel panel-default">
	                <div class="widget-header panel-heading">
	                	
	                        
	                        
	                    
	  							<span  class="action fa fa-angle-down fa-1x" ng-click="showKeyword = !showKeyword"></span>
									    {{widget.title}}
							    <span ng-click="removeWidget(widget);" class="action pull-right fa fa-times fa-1x"></span>
							    <span ng-click="openWidgetDialog(widget);" class="action pull-right fa fa-cog fa-1x"></span>
							    <span ng-click="refreshWidget(widget);" class="action pull-right fa fa-refresh fa-1x"></span>
												    
							
	                    
	                </div>
	                <div class="widget-content panel-body">
	                    <div></div>
	                </div>
	                
	               <!-- <div class="widget-ew-resizer" ng-mousedown="grabResizer($event)"></div>-->
	               
	    		</div>        
	        	</li>
	        </ul>
        
        
    </div>
    <div backtop></div>
</div>