<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
 <small>Edit Dashboard</small>
</div>

<div class="modal-body">
	<div class="row">
		<div class="form-group">
				    <label for="title">Title</label>
				    <input type="text" class="form-control"  id="title" ng-model="result.title">
		</div>
	</div>
	
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default btn-sm" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary btn-sm" ng-click="ok()">Save</button>
</div>

