<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
 <small>Add Widget</small>
</div>

<div class="modal-body">
	<div class="row">
		<div class="col-md-4 col-sm-4">
			<ul  class="nav nav-pills nav-stacked">
		 		 <li ng-repeat="sl in sourceslist" ng-class="{active: $index===0}"><a href="#tab_{{sl.id}}" data-toggle="pill">{{sl.name}}</a></li>
				  <!--<li><a href="#tab_web" data-toggle="pill">Web Analytics</a></li>
				  <li><a href="#tab_ad" data-toggle="pill">Advertising</a></li>
				  <li><a href="#tab_email" data-toggle="pill">Email</a></li>-->
			</ul>
		</div>
		<div class="col-md-8 col-sm-4">
			<div class="tab-content">
				
					<div ng-repeat="sl in sourceslist" class="tab-pane fade" ng-class="{'active in': $index===0}" id="tab_{{sl.id}}">
					    
					    	
		     				<table>
					    	<tr ng-repeat="source in getSourceByName(sl.id).sources">
					    		
		     					
					    		
						    	<td class="col-icon">
						    		<div class="source-icon"><span class="fa {{source.attr.icon}} {{source.attr.hue}}"> </span></div>
						    	</td>
						    	<td class="col-source">
						    			
						    		<div class="source-name"> {{source.attr.title}}</div>
						   			 
						    		<div class="source-desc"> {{source.attr.desc}}</div>
						    	</td>
						    	<td class="col-action">
						    		<div class="source-action clear"><button ng-disabled="!source.supported" class="btn btn-sm" ng-class="{true:'btn-info',false:'btn-default'}[source.supported]" ng-click="updateSelection(source.type)"><span class="fa fa-plus"></span></button></div>
						   		</td>
						    	
						    </tr>
						   
					    </table>
					    	
					    	
					    
					</div>
					
			</div><!-- tab content -->
		</div>
	</div>
	
</div>
<!--
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="ok()">OK</button>
</div>
-->
