<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
 <small>Mix & Match Widget View</small>
</div>

<div class="modal-body">
	<div class="row">
		<div class="col-md-4">
			<table class="table table-bordered">
				<thead>
					<th> Widget</th>
					<th> Metrics</th>
				</thead>
				<tr ng-repeat="widget in widgets">
					
						<td>
							<div class="btn btn-sm" ng-init="showMetrics(widget)">{{widget.title}}</div>
						</td>
						<td >
							
								  <span data-widget-id="{{widget.wr._id}}" data-widget-title="{{widget-title}}" data-metric-name="{{item.title}}" style="margin:5px" class='btn btn-default btn-xs' x-lvl-draggable="true" ng-repeat="item in displayMetrics[widget.wr._id]">
								  	
										{{item.title}}  	
								  </span>
			            	
		            	</td>
	            	</tr>
				</div>
			</table>
		</div>
		
<!--			
			<div ng-repeat="metric in displayMetrics">
				{{metric}}
			</div>-->
		
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-12">
					<div id="metricsdrop" class="form-group text-center">
						    <label for="metric">Drag and Drop Metrics below			   
						    </label>
						 	<div  class="form-control" x-lvl-drop-target="true" x-on-drop="dropped(dragEl, dropEl)">
						 		<span class="btn btn-xs btn-default" style="margin:5px" ng-repeat="(key,val) in selectedMetrics">
						 			{{val}}
						 			<span class="fa fa-times" ng-click=removeSelectedMetric(key)></span>
						 		</span>
						 		
						 		
						 	</div>
				
					
					</div>
				</div>
			</div>
			
			<div class="row">
				<div viewmetrics data="widgetdata">
					 <div id="graph" style="overflow:auto !important" ></div>

				</div>
				
			</div>
			
		</div>
	</div>
	
</div>
<!--
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="ok()">OK</button>
</div>
-->
