extends ../layouts/default

block content
  .row
    .col-md-3
      a(href="/auth/facebook")
        img(src="/img/icons/facebook.png" class="authimg")
      a(href="/auth/twitter")
        img(src="/img/icons/twitter.png" class="authimg")
      a(href="/auth/google")
        img(src="/img/icons/google.png" class="authimg")
    
      if (typeof errors !== 'undefined')
        .fade.in.alert.alert-block.alert-error
          a.close(data-dismiss="alert", href="javascript:void(0)") x
          ul
            each error in errors
              li= error.type

      block auth
