
<div class="login-wrapper">
	<div class="center" data-ng-controller="LoginCtrl">
		
		
			
		
		
		 			
		 				<div class="btn btn-primary" ng-click="login()"> Login with LinkedIn <span class="fa fa-linkedin"></span></div>
		 				<div class="copyText">
	    					&copy;  2014 - Sentiks
	    					 
				    	</div>
		 			
		
	</div>	
<!--		<div class = "panel panel-default">
			
		    <div class="alert alert-danger animated fadeIn" ng-show="loginerror">{{loginerror}}</div>
		 
			 <div class="panel-heading clearfix">
			 		<div class="content">
						<div class="pull-left">
							<i class="fa fa-lock fa-lg"></i> Login
						</div>
	
						<div class="pull-right">
							<span style="font-size:11px;">Don't have any account?</span>
							<a class="btn btn-default btn-xs login-link" ui-sref='auth.register' style="margin-top:-2px;"><i class="fa fa-plus-circle"></i> Sign up</a>
						</div>
					</div>
			</div>
			<div class="panel-body">
				<div class="auth-padding">
					    <form name="loginForm" ng-submit="login()" class="signin form-horizontal css-form" novalidate>
					        <div class="form-group" ng-class="{ 'has-error' : loginForm.email.$invalid && !loginForm.email.$pristine }">
					            <label for="email" class="control-label">Email</label>
					           
					                <input required id="email" type="email" name="email" placeholder="Email" class="form-control" ng-model="user.email" />
					            
					        </div>
					        <div class="form-group" ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine }">
					            <label for="password" class="control-label">Password</label>
					           
					                <input required id="password" type="password" name="password" placeholder="Password" class="form-control" ng-model="user.password" />
					          
					        </div>
					        
					        
					        <div class="form-group">
								Forgot your password?<br>
								Click <a href="#">here</a> to reset your password
							</div>
							<div class="form-group">
	    					&copy;  2014 - Sentiks
	    					<button  type="submit" class="btn btn-primary btn-sm pull-right" ng-disabled="loginForm.$invalid"> <span class="fa fa-sign-in fa-1x"></span> Sign in</button> 
				    		</div>
					        
					    </form>
			    
		    </div>
	  </div>-->
	  
	  
	</div>
</div>