
<div class="login-wrapper">
	<div data-ng-controller="RegisterCtrl">
		<div class = "panel panel-default">
		    <div ng-repeat="error in registerError">
		        <div class="alert alert-danger animated fadeIn">{{error.msg}}</div>
		    </div>
		    <div class="alert alert-danger animated fadeIn" ng-show="usernameError">{{usernameError}}</div>
		
		    <div class="panel-heading clearfix">
		    	<div class="content">
					<span class="fa fa-plus-circle fa-lg"></span> Sign up
				</div>
			</div>
			<div class="panel-body">
				<div class="auth-padding">
				    <form name="registerForm" ng-submit="register()" class="signup form-horizontal css-form"  novalidate>
				        <div class="form-group" ng-class="{ 'has-error' : registerForm.name.$invalid && !registerForm.name.$pristine }">
				            <label for="name" class="control-label">Full Name</label>
				          
				                <input id="name" type="text" name="name" placeholder="Full name" class="form-control" ng-model="user.name" ng-minlength="4" ng-maxlength="15" required/>
				        		  
				        </div>
				        <div class="form-group" ng-class="{ 'has-error' : registerForm.email.$invalid && !registerForm.email.$pristine }">
				            <label for="email" class="control-label">Email</label>
				            
				                <input id="email" type="email" name="email" placeholder="Email" class="form-control" ng-model="user.email" required/>
				            
				        </div>
				     
				        <div class="form-group" ng-class="{ 'has-error' : registerForm.password.$invalid && !registerForm.password.$pristine }">
				            <label for="password" class=" control-label">Password</label>
				            
				                <input id="password" type="password" name="password" placeholder="Password" class="form-control" ng-model="user.password" ng-minlength="6"  required/>
				            
				        </div>
				       <div class="form-group" ng-class="{ 'has-error' : registerForm.agree.$invalid && !registerForm.agree.$pristine }">
				       	
				       	
									<label class="label-checkbox">
										 <input type="checkbox" name="agree" ng-model="user.agree" required>
										 
										 I accept the <a href="http://www.sentiks.com/#!/terms" target="_blank"> terms</a> & 
										 <a href="http://www.sentiks.com/#!/privacy" target="_blank"> privacy</a>.
									</label>
						</div>
						
						
						<div class="form-group" >
							
							
									<div class="controls">
										Already have an account? <a ui-sref='auth.login'class="show-login" >Sign In</a>
									</div>
						</div>
								
						<div class="form-group">
						
	    					&copy;  2014 - Sentiks
							<div class="controls pull-right">
								<button type="submit" class="btn btn-primary" ng-disabled="registerForm.$invalid"><span class="fa fa-plus-circle"></span>  Sign up</button>
							</div>
						</div>
				       <!-- <div class="form-group">
				            <div class="col-md-offset-4 col-md-8">
				                <button type="submit" class="btn btn-primary">Sign up</button>&nbsp;
				                or&nbsp;<a ui-sref='auth.login' class="show-login">login</a>
				            </div>
				        </div>
				       -->
				    </form>
				   </div>
			   </div>
		   </div>
	</div>
</div>