
<div data-ng-repeat="item in items">
	<div  class="result clearfix youtube">
	      		<div class="box">
								<div class="tweettext">
														<div class="title">
															<a href ="{{item.link}}" target="_blank" >{{item.desc}}</a>
														</div>

														<div class="foot">


															<div class="pull-left timeInterval"> {{item.timeago}}</div>
															<div class="pull-left timeInterval">{{item.likes }} likes </div>
														</div>

								</div>
				</div>
	</div>
</div>
