<div >

    <div class="text-center" ng-show="showConfigure">
    	<button class="btn btn-default" ng-click='openWidgetDialog(widget)'> Configure View</button>
    </div>
		<div ng-show="showWidgetError" class="alert alert-danger" >
						{{widgetErrorMsg}}
		</div>
	  <div ng-show="!showConfigure">


	    <img ng-src="../img/loaders/widget-loader.gif" class="loading" ng-show="showLoader" />
	    <h4 class="text-center" ng-show="showNoData"> No Data Available</h2>
	    <div scrollable id="searchcontainer" class="scrollcontainer" ng-show="!showNoData" >

	    			<div class="col-md-12">
									<div class="panel panel-default  ">
  											<div   class="panelheader panel-heading " >
  												<span  class="action fa fa-angle-down fa-1x" ng-click="showSentiment = !showSentiment;"></span>
											    Sentiment


											  </div>
											  <div show-slide="showSentiment" class=" chartbox panel-body">
													<div class="row">
														<div class="col-md-4 col-sm-4">
															<div  guagechart options="container.positive.options" percent="container.positive.percent"   ></div>
																<canvas class="guagePieChart" ></canvas>

																<p class="text2 ">{{container.positive.percent}}% positive</p>

														</div>
														<div class="col-md-4 col-sm-4">
															<div  guagechart  options="container.negative.options" percent="container.negative.percent"   ></div>
																<canvas class="guagePieChart" ></canvas>

																<p class="text2 ">{{container.negative.percent}}% negative</p>


														</div>
														<div class="col-md-4 col-sm-4">

															<div  guagechart  options="container.neutral.options" percent="container.neutral.percent"   ></div>
																<canvas class="guagePieChart" ></canvas>

																<p class="text2 ">{{container.neutral.percent}}% neutral</p>

														</div>
												</div>
												</div>

									</div>
						</div>
						<div class="col-md-12 col-sm-4" >
									<div   class="panel panel-default">
  											<div   class="panelheader panel-heading " >
  												<span  class="action fa fa-angle-down fa-1x" ng-click="showKeyword = !showKeyword"></span>
											    Emotions


											  </div>
											  <div show-slide="showKeyword" class=" chartbox panel-body" style="background:#000" >
													<div class="btn-group" data-toggle="buttons">
						                              <label class="btn btn-primary btn-xs active bubble" id="all">
				        		                       <input type="radio" name="options"> All Keywords
				                		              </label>
				                        		      <label class="btn btn-primary btn-xs bubble" id="category">
				                                		<input type="radio" name="options"> By Category
				                              			</label>
				                        		 	</div>

				                               		 <div packed-circle id="packed"></div>
				                              </div>
				                      </div>


						</div>

						<!--<div class="col-md-12 ">
									<div class="panel panel-default ">
  											<div   class="panelheader panel-heading " >
  												<span  class="action fa fa-angle-down fa-1x" ng-click="showInfluence = !showInfluence"></span>
											    Influence


											  </div>
											  <div show-slide="showInfluence" class=" chartbox panel-body">
											  		<div class="row">
													<div class="col-md-4 ">

															<div  guagechart  options="container['highinfluence'].options" percent="container['highinfluence'].percent"   ></div>
																<canvas class="guagePieChart" ></canvas>

																<p class="text2 ">{{container['highinfluence'].percent}}% Highly Influential</p>


												</div>

									<div class="col-md-4 ">

															<div  guagechart  options="container['lowinfluence'].options" percent="container['lowinfluence'].percent"   ></div>
																<canvas class="guagePieChart" ></canvas>

																<p class="text2 ">{{container['lowinfluence'].percent}}% Low Influential</p>


									</div>
								</div>
							</div>
						</div>

				</div>-->

								<div class="col-md-12 col-sm-4 " >
									<div   class="panel panel-default">
  											<div   class="panelheader panel-heading " >
  												<span  class="action fa fa-angle-down fa-1x" ng-click="showMetric = !showMetric"></span>
											    Metrics


											  </div>
											  <div show-slide="showMetric" class=" chartbox panel-body">
				                                	<table class="table">
				                                		<thead >
				                                			<tr>

				                                				<th>Metric</th>
				                                				<th>Events</th>
				                                			</tr>

				                                		</thead>
				                                		<tbody>
				                                			<tr ng-repeat="(key,val) in container.metrics">

					                                			<td> {{key}}</td>
					                                			<td><div metricschart val="val"></div></td>
				                                			</tr>

				                                		</tbody>


				                					</table>
				                			</div>
				                		</div>
               					 </div>




		   <div class="col-md-12 ">
				<div class="panel panel-default  ">
	  					<div   class="panelheader panel-heading " >
	  						<span  class="action fa fa-angle-down fa-1x" ng-click="showMentions = !showMentions"></span>
						    Mentions
	 					  </div>
						  <div show-slide="showMentions" class=" panel-body">
							    <div  class="timeline">
											<div class="animation" ng-repeat="event in events">
								 				<div class="event">

													<div class="timelinebox">


															<span>{{setItem(event)}}</span>
																<div ng-include src="buildUrl(event.category)"></div>

												      		</span>

													</div>
												</div>
											</div>

								</div>
							</div>
				</div>
			</div>
		 </div>

	</div>
</div>
