<div data-ng-repeat="item in items">
	      		<div class="tweet">
				    <span> 
				        <a href="http://www.twitter.com/{{ item.user.screen_name }}" target="_blank">
				            <img class="img-rounded" ng-src="{{ item.user.profile_image_url }}" />
				        </a>
				    </span>
				
				    <a tooltip-placement="bottom" tooltip="click to visit Twitter profile"
				       href="http://www.twitter.com/{{ item.user.screen_name }}" target="_blank">
				        <span class="username" ng-bind="item.user.name"></span>
				    </a>
				    <span class="username_screen">@{{item.user.screen_name}}</span>
				    
				    <div class="tweettext">
				       	<a href ="{{item.link}}" target="_blank">{{item.title}}</a>
				       	<div class="foot">
					       	<div class="pull-left timeInterval">{{item.timeago}}</div>
					       
				       	
				       	
					        <div class="pull-left timeInterval">{{item.user.followers_count }} followers </div>
					        
					        <div ng-show="item.retweet_count" class="pull-left timeInterval">
					            {{item.retweet_count }} retweets
					        </div>
				        	<span class="pull-left">
					       	<a href="https://twitter.com/intent/tweet?in_reply_to={{ item.user.retweet_to }}" target="_blank" class="imgreply"></a>
					       	<a href="https://twitter.com/intent/retweet?tweet_id={{ item.user.retweet_to }}" target="_blank" class="imgretweet"></a>
					       	<a href="https://twitter.com/intent/favorite?tweet_id={{ item.user.retweet_to }}" target="_blank" class="imgfavourite"></a>
				       		</span>
				        </div> 
				    </div>
				</div>
</div>
