
<div data-ng-repeat="item in items">
	<div  class="result clearfix youtube">
	      		<div class="box">
														<div class="title">
															<a href ="{{item.link}}" target="_blank" >{{item.title}}</a>
														</div>
														<!--<div class="desc"><p>{{item.desc}}</p></div>-->

														<div>
														 <!--<iframe  width="400" height="200" ng-src={{trustSrc(item.source)}} frameborder="0" allowfullscreen></iframe>-->
														  <div class="tweetext">
																<div class="foot">

																	<div class="pull-left timeInterval"> {{item.timeago}}</div>
																	<div class="pull-left timeInterval">{{item.replies }} replies </div>
																</div>
															</div>
														</div>


				</div>
	</div>
</div>
